﻿
.gforms-form {
    padding: 0px 100px 50px 100px;
}

.title-buro {
    text-align: center;
    text-transform: uppercase;
    color: #0F2D56;
    background: #D2DFF1;
    font-size: 1.5em;
    font-weight: 700;
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 0.8em;
}

.form-group .has-feedback .Genesis-component .Genesis-component-radio .Genesis-component-ESCRIB {
    color: red; !important
}
