/*!
Theme Name: Edubin
Theme URI: https://wpsprite.com/wordpress/edubin/
Author: Pixelcurve
Author URI: https://wpsprite.com/
Description: Edubin Education LMS WordPress Theme.
Version: 3.0.5
License: Split License
License URI: https://help.market.envato.com/hc/en-us/articles/202501064-What-is-Split-Licensing-and-the-GPL-
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: edubin
Domain Path: /languages/
*/

/* Note: The CSS files are loaded from assets/css/ folder. */

.advertisement__label-heading {
    padding: .5rem 1.25rem;
    background-color: #FF5733;
    color: #fff;
    width: 100%;
    font-weight: 800;
    font-size: 1.5rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.advertisement__content__heading {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.advertisement__content {
    padding: 1rem;
    background-color: #fff;
    color: #6d6d6d;
    font-size: 2rem;
}


