/* ==== Event Ticket Plus === */

.tribe-common.tribe-tickets {
    max-width: inherit;
    border: none;
    padding: 0 45px 45px;
}
@media (max-width: 575.98px) {
    .tribe-common.tribe-tickets {
        max-width: inherit;
        border: none;
        padding: 0 25px 45px;
    }
}
.tribe-common .tribe-common-b3--min-medium {
    font-size: 16px;
    line-height: inherit;
}
.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn {
    color: #07294d;
    background-color: #ffc600;
    font-size: 16px;
}
.tribe-common .tribe-common-c-btn:focus, .tribe-common .tribe-common-c-btn:hover, .tribe-common a.tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:hover {
    background-color: rgb(7, 41, 77);
    color: #fff;
}
.tribe-common .tribe-common-h6--min-medium {
    font-size: 24px;
    line-height: inherit;
}
.entry .entry-content .tribe-common .tribe-tickets__title, .tribe-common .tribe-tickets__title {
    font-size: 28px;
    font-weight: 700;
}
.entry .entry-content .tribe-common.tribe-tickets .tribe-tickets__item__details__content, .tribe-common.tribe-tickets .tribe-tickets__item__details__content {
    padding: 20px 0;
}
/*------------------------------------------- 
---------- The Event Clender -------------
--------------------------------------------*/

.archive.post-type-archive-tribe_events {
    background: #edf0f2;
}
.archive.post-type-archive-tribe_events div#tribe-events-pg-template {
    padding-bottom: 80px;
}
.archive.post-type-archive-tribe_events #tribe-events-pg-template, .archive.post-type-archive-tribe_events .tribe-events-pg-template {
    max-width: 1140px;
}
@media (max-width:768px) {
    #tribe-events-pg-template {
        padding: 0 20px 20px;
    }
}
.archive.post-type-archive-tribe_events #tribe-events-footer {
    display: none;
}
.tribe-events-list-event-title a.tribe-event-url {
    color: #07294d;
}
#tribe-events-content a, .tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover, .tribe-events-back a, .tribe-events-back a:hover, .tribe-events-event-meta a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-list-widget .tribe-events-widget-link a:hover, ul.tribe-events-sub-nav a, ul.tribe-events-sub-nav a:hover {
    transition: all 0.5s ease;
}
#tribe-events-content a:hover, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover:hover, .tribe-events-back a:hover, .tribe-events-back a:hover:hover, .tribe-events-event-meta a:hover, .tribe-events-list-widget .tribe-events-widget-link a:hover, .tribe-events-list-widget .tribe-events-widget-link a:hover:hover, ul.tribe-events-sub-nav a:hover, ul.tribe-events-sub-nav a:hover:hover {
    color: #ffc600;
    transition: all 0.5s ease;
}
.post-type-archive-tribe_events #tribe-events-content a.page-numbers:hover {
    color: #07294d;
}
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background: #ffc600;
    transition: all 0.5s ease;
}
#tribe-events .tribe-events-button:hover, #tribe-events .tribe-events-button:hover:hover, #tribe_events_filters_wrapper input[type=submit]:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover:hover, .tribe-events-button.tribe-inactive:hover, .tribe-events-button:hover:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a:hover {
    background: #07294d;
    transition: all 0.5s ease;
}
#tribe-events .tribe-events-button, .tribe-events-button {
    padding: 15px 22px;
    border-radius: 0;
    font-size: 15px;
    margin-top: 0;
    border-radius: 3px;
}
/* Calender page*/

.archive.post-type-archive-tribe_events.events-gridview .trail-items li:nth-child(2):after {
    display: none;
}
#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
    background: #07294d;
}
#tribe-bar-form .tribe-bar-submit input[type=submit] {
    background: #ffc600;
}
.tribe-events-calendar thead th {
    background-color: #07294d;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.archive.post-type-archive-tribe_events .tribe-events-calendar thead th {
    color: #fff;
}
#tribe-events td.tribe-events-present div[id*="tribe-events-daynum-"], #tribe-events td.tribe-events-present div[id*="tribe-events-daynum-"]>a {
    background-color: #ffc600;
    color: #07294d;
}
.tribe-events-thismonth.tribe-events-future.tribe-events-has-events {
    background-color: #ffc600;
}
.tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title a {
    font-size: 15px;
}
.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
    background-color: #07294d
}
.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"]>a {
    background-color: #082a4c;
    opacity: 0.9;
    color: #fff;
}
#tribe-events .tribe-events-calendar td {
    background: #fff;
}
.edubin-events-header-area {
    clear: both;
    display: block;
    width: 100%;
    min-height: 75px;
    z-index: 2;
    position: relative;
}
.edubin-events-header-area #ecsa-search {
    position: absolute;
}
.edubin-events-header-area .edubin-events-search {
    padding-left: 230px;
}
.edubin-events-header-area #ecsa-search .icon-img img {
    height: 88%;
    opacity: 1;
    padding-top: 5px;
}
.edubin-events-header-area #ecsa-search input[type="text"] {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.edubin-events-header-area #ecsa-search .icon-img {
    background: transparent;
}
@media (max-width:991.98px) {
    .tribe-events-calendar td div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-] a {
        line-height: 3;
    }
}
@media (max-width:767.98px) {
    .edubin-events-header-area .edubin-events-search {
        height: 65px;
        padding-left: 0;
    }
    .edubin-events-header-area #ecsa-search.layout-small {
        max-width: 94%;
    }
    .edubin-events-header-area #ecsa-search.layout-small input, .edubin-events-header-area #ecsa-search.layout-small span.twitter-typeahead {
        max-width: 100%;
    }
}
/**
 list page
*/

.tribe-events-list .tribe-events-loop .tribe-event-featured a {
    color: white;
}
#tribe-events-content .tribe-event-schedule-details span {
    color: #8a8a8a;
    font-weight: 500;
}
#tribe-events-content .tribe-events-page-title {
    display: none;
}
#tribe-events-content .tribe-events-loop {
    max-width: 100% !important;
}
.tribe-events-list .tribe-events-loop .tribe-events-event-image {
    width: 100%;
    float: none;
}
#tribe-events-content .tribe-events-loop .tribe-events-content {
    padding: 0 30px 30px;
    float: none;
    width: 100%;
}
#tribe-events-content .tribe-events-loop .tribe-events-list-separator-month {
    display: none;
}
#tribe-events-content .tribe-events-loop .type-tribe_events {
    padding: 15px;
}
@media (max-width:768px) {
    #tribe-events-content .tribe-events-loop .type-tribe_events {
        padding: 15px;
    }
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper {
    display: inline-block;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    padding-top: 0;
    margin-top: 0;
    background: white;
    position: relative;
    overflow: hidden;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper:hover {
    transition: all 0.5s ease;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.1);
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper:hover a.tribe-events-read-more {
    opacity: 1;
    transition: all 0.8s ease;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-image {
    position: relative;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-image .tribe-events-event-image {
    width: 100%;
    margin: 0;
    float: none;
    display: block;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-image .tribe-events-event-cost {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-image .tribe-events-event-cost .ticket-cost {
    background: #ffc600;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 21px;
    font-weight: normal;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 40px;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content {
    padding: 25px 30px 20px;
    display: inline-block;
    position: relative;
    z-index: 2;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .tribe-events-list-event-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .tribe-events-list-event-title a {
    display: inline-block;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .tribe-events-list-event-title a:hover {
    color: #ffc600;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .tribe-events-event-meta {
    font-size: 14px;
    font-style: normal;
    line-height: 1.8;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .tribe-events-event-meta .tribe-events-venue-details {
    font-style: normal;
    line-height: 1.5;
}
#tribe-events-content .tribe-events-loop .tribe-events-event-meta {
    font-size: 15px;
    padding: 0 30px;
}
@media (max-width:768px) {
    .tribe-events-loop .tribe-events-event-meta {
        background: inherit;
        border: none;
    }
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .edubin-event-content-wrapper a {
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    border: 1px solid #ffc600;
    background: #ffc600;
    padding: 10px 24px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .edubin-event-content-wrapper a:hover {
    border: 1px solid #07294d;
    background: #07294d;
    transition: all 0.5s ease;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .edubin-event-loop-content-wrapper .edubin-event-loop-content .edubin-event-content-wrapper a:hover:after {
    height: 23px;
    z-index: -1;
}
#tribe-events-content .tribe-events-loop .type-tribe_events:first-of-type {
    margin-top: 0;
}
#tribe-events-content .tribe-events-loop .type-tribe_events .tribe-events-event-image {
    position: relative;
}
#tribe-events-content .tribe-events-loop .type-tribe_events:hover .tribe-events-event-image:before {
    opacity: 1;
    transition: all 0.5s ease;
}
#tribe-events-content .tribe-events-loop .e-event-featured, #tribe-events-content .tribe-events-loop .tribe-event-featured {
    background: transparent;
    padding: 15px;
}
#tribe-events-content .tribe-events-loop .e-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content, #tribe-events-content .tribe-events-loop .tribe-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content {
    display: inline-block;
}
#tribe-events-content .tribe-events-loop .e-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content a, #tribe-events-content .tribe-events-loop .tribe-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content a, #tribe-events-content .tribe-events-loop .e-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content div, #tribe-events-content .tribe-events-loop .tribe-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content div, #tribe-events-content .tribe-events-loop .e-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content p, #tribe-events-content .tribe-events-loop .tribe-event-featured .edubin-event-loop-content-wrapper .edubin-event-loop-content p {
    color: #23252a;
}
#tribe-events .tribe-events-button {
    font-size: 15px;
    color: #07294d;
    text-transform: capitalize;
    margin-top: 10px;
}
@media (min-width:576px) and (max-width:767.98px) {
    #tribe-events .tribe-events-button {
        margin: 0 20px 0 0;
    }
}
@media (max-width:576px) {
    .tribe-events-gcal.tribe-events-button {
        margin-bottom: 20px;
    }
    .single-tribe_events .tribe-events-cal-links {
        padding: 0 0 0 45px;
    }
}
.tribe-events-schedule h2 {
    font-size: 16px;
    margin-top: 0;
    color: #8a8a8a;
}
.tribe-events-list .type-tribe_events .tribe-events-list-event-title {
    font-size: 20px;
}
.tribe-events-list-event-title {
    padding: 0 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    color: #23252a;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear
}
.archive #tribe-events-content {
    margin-bottom: 0;
}
/*=====================================================
 Event page
======================================================*/

#tribe-events .tribe-events-title-bar {
    display: none;
}
.tribe-events-list .tribe-events-event-image img {
    height: 215px;
    width: 100%;
    object-fit: cover;
}
.single-event-list .tribe-events-event-image {
    height: 215px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.single-event-list .tribe-events-event-image img {
    height: 215px;
    object-fit: cover;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.single-event-list:hover .tribe-events-event-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tribe-events-event-image img {
    width: 100%;
}
.tribe-events-event-cost span {
    border: 1px solid #ffc600;
    position: absolute;
    top: 200px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-size: 14px;
    color: #07294d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ffc600;
    text-align: center;
}
.single-event-list {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.single-event-list .event-thum img {
    width: 100%;
    border-radius: 5px;
}
.single-event-list .event-cont {
    padding-left: 30px;
}
.single-event-list .event-cont span {
    font-size: 14px;
    color: #8a8a8a;
    margin-right: 20px;
}
.single-event-list .event-cont span i {
    color: #ffc600;
    margin-right: 3px;
}
.single-event-list .event-cont a {
    display: block;
}
.single-event-list .event-cont a h4 {
    padding-top: 5px;
    padding-bottom: 10px;
    color: #000;
    font-size: 20px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.single-event-list .event-cont a:hover h4 {
    color: #ffc600;
}
@media (min-width:768px) and (max-width:991.98px) {
    .single-event-list .tribe-events-event-image {
        height: 350px;
    }
    .single-event-list .tribe-events-event-image img {
        height: 350px;
    }
    .tribe-events-event-cost span {
        top: 335px;
    }
}
@media (min-width:576px) and (max-width:767.98px) {
    .single-event-list .tribe-events-event-image {
        height: 350px;
    }
    .single-event-list .tribe-events-event-image img {
        height: 350px;
    }
    .tribe-events-event-cost span {
        top: 338px;
    }
}
/* Event list style 2 */

.single-event-list-2 {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.single-event-list-2 .tribe-events-event-image {
    width: 38%;
    margin-bottom: 0;
}
.single-event-list-2 .tribe-events-event-image img {
    width: 100%;
    border-radius: 5px;
    height: 140px;
    object-fit: cover;
}
.single-event-list-2 .event-list-content {
    width: 62%;
    padding-left: 30px;
}
.single-event-list-2 .event-list-content i {
    color: #ffc600;
    margin-right: 3px;
}
a.tribe-events-read-more {
    font-weight: 500;
}
/* Single page style */

.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
    margin: 0;
    padding: 30px 4%;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd {
    margin-bottom: 0;
}
.single-tribe_events .tribe-events-venue-map {
    width: 100%;
    margin: 0;
    padding: 0;
}
#contact-map {
    position: relative;
    overflow: hidden;
}
/*=====================================================
   Event single page
======================================================*/

.single.single-tribe_events {
    background: #edf0f2;
}
.single-tribe_events .entry-content ul {
    list-style: none;
    padding-left: 0;
}
.events-area {
    padding: 0 30px;
}
@media (max-width:576px) {
    .events-area {
        padding: 0;
    }
}
.events-left .entry-title {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    font-size: 32px;
    margin-bottom: 0;
}
.events-left {
    background: #fff;
}
.events-left span {
    font-size: 16px;
    color: #8a8a8a;
    margin-right: 0;
    text-transform: capitalize;
}
.events-left span i {
    color: #ffc600;
    margin-right: 3px;
}
.events-coundwon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 25px 30px;
    overflow: hidden;
    margin-bottom: 30px;
}
@media (max-width:576px) {
    .events-coundwon {
        padding: 25px 20px 30px;
    }
}
.events-coundwon .count-down-time {
    position: relative;
    z-index: 5;
}
.events-coundwon .count-down-time .single-count .number {
    font-size: 26px;
    color: #ffc600;
    font-weight: 500;
}
.events-coundwon .count-down-time .single-count .title {
    font-size: 13px;
}
.events-coundwon .events-coundwon-btn .edubin-main-btn {
    width: 100%;
}
.events-coundwon .events-coundwon-btn {
    padding-top: 30px;
    z-index: 1;
    position: relative;
}
.events-address {
    border: 1px solid #e0e0e0;
    padding: 15px 20px 15px;
}
.events-address ul li {
    padding-top: 20px;
}
.events-address ul li .single-address {
    position: relative;
}
.events-address ul li .single-address .icon {
    position: absolute;
    top: 0;
    left: 0;
}
.events-address ul li .single-address .icon i {
    font-size: 15px;
    color: #ffc600;
}
.events-address ul li .single-address .cont {
    padding-left: 28px;
}
.events-address ul li .single-address .cont h6 {
    font-size: 16px;
    color: #07294d;
    margin-bottom: 5px;
}
.events-address ul li .single-address .cont span {
    font-size: 15px;
    color: #8a8a8a;
}
.events-address ul li .single-address .cont a {
    color: #8a8a8a;
}
#contact-map {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.events-right {
    background: #fff;
    padding: 30px;
}
.single-tribe_events .tribe-events-cal-links {
    padding: 0 0 45px 45px;
    margin-bottom: 0;
}
@media (min-width:576px) and (max-width:767.98px) {
    .single-tribe_events .tribe-events-cal-links {
        padding: 0 0 45px 30px;
    }
}
.edubin-enevt-content {
    padding: 20px 45px 20px;
}
@media (max-width:576px) {
    .edubin-enevt-content {
        padding: 20px 25px 20px;
    }
}
@media (max-width:575.98px) {
    .single-tribe_events .tribe-events-cal-links {
        padding: 0 0 45px 30px;
    }
}
@media (max-width:768px) {
    .events-right {
        margin-top: 25px;
    }
}
/*=====================================================
 Countdown
======================================================*/

.count-down-cont {
    position: relative;
    z-index: 5;
}
.count-down-cont h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 5px;
}
.count-down-cont h2 {
    font-size: 72px;
    color: #ffc600;
    font-weight: 700;
    padding-bottom: 37px;
}
.count-down-time {
    /*    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;*/
}
.count-down-time .single-count {
    display: inline-block;
    margin-right: 8px;
}
.count-down-time .single-count:last-child {
    margin-right: 0;
}
.count-down-time .single-count .number {
    font-size: 72px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: block;
}
.events-coundwon .count-down-time .single-count .number {
    margin: 0;
}
/*.events-coundwon .count-down-time .single-count .number:before {
position: absolute;
content: ":";
right: 12px;
top: -1px;
}
.events-coundwon .count-down-time .single-count:last-child .number:before {
display: none;
}*/

.count-down-time .single-count .title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: block;
}
[data-overlay] {
    position: relative;
}
[data-overlay]::before {
    background: #07294d none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
[data-overlay="3"]::before {
    opacity: 0.3;
}
[data-overlay="4"]::before {
    opacity: 0.4;
}
[data-overlay="5"]::before {
    opacity: 0.5;
}
[data-overlay="6"]::before {
    opacity: 0.6;
}
[data-overlay="7"]::before {
    opacity: 0.7;
}
[data-overlay="8"]::before {
    opacity: 0.8;
}
[data-overlay="9"]::before {
    opacity: 0.9;
}
/* Registrations for The Events Calendar */

.tribe_events-template-default .tribe-events-notices {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #ffffff;
    color: #07294d;
}
.tribe_events-template-default .edubin-event-register-from #rtec {
    text-align: center;
}
.tribe_events-template-default .edubin-event-register-from #rtec label {
    font-size: 15px;
    color: #666;
}
.tribe_events-template-default .edubin-event-register-from #rtec .rtec-form-field {
    margin-bottom: 20px;
}
.tribe_events-template-default .edubin-event-register-from #rtec .rtec-register-button {
    margin-bottom: 20px;
    padding: 12px 30px 12px 25px;
    font-size: 15px;
    background: #ffc600;
    color: #07294d;
    border-radius: 3px;
}
.tribe_events-template-default .edubin-event-register-from #rtec button:hover {
    background: #ffc600;
}
.tribe_events-template-default .edubin-event-register-from #rtec .rtec-form-wrapper {
    padding: 22px;
    border: 1px solid #e0e0e0;
    background: #edeff2;
    text-align: left;
}
#rtec input[type="text"], #rtec input[type="email"], #rtec input[type="tel"], #rtec input[type="number"], #rtec textarea {
    padding: 5px;
    border-color: #e0e0e0;
    color: #8a8a8a;
    font-size: 15px;
}
.tribe_events-template-default .edubin-event-register-from #rtec input[type="submit"] {
    float: none;
    padding: 8px 16px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}
.tribe_events-template-default .edubin-event-register-from #rtec span.rtec-already-registered-reveal {
    display: block;
    color: #fff;
    font-weight: 500;
}
.tribe_events-template-default .edubin-event-register-from #rtec span.rtec-already-registered-reveal a {
    color: #ffc600;
}
.tribe_events-template-default .edubin-event-register-from #rtec .rtec-already-registered-options.rtec-is-visitor {
    color: #ffff;
    display: block;
}
.tribe_events-template-default .edubin-event-register-from div.tribe-events-notices>ul, .tribe_events-template-default .edubin-event-register-from div.tribe-events-notices>ul>li {
    line-height: 25px;
}
/*.tribe_events-template-default .type-page .entry-content p {
padding-bottom: 15px;
}*/

/*Single page layout 2*/

.edubin-events-maps iframe {
    height: 200px;
}
.tribe_events-template-default .type-page .entry-content .edubin-events-maps p {
    margin: 0;
    padding-bottom: 0;
}
.events-coundwon.events-coundwon-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 30px 100px;
    overflow: hidden;
    margin-bottom: 30px;
}
.events-coundwon.events-coundwon-2 .count-down-time .single-count {
    border-radius: 100px;
    border: 2px solid #fff;
    margin: 15px;
    height: 130px;
    width: 130px;
    line-height: 24px;
    padding-top: 40px;
    background: #ffffff29;
}
.events-coundwon.events-coundwon-2 .single-count .number {
    text-align: center;
}
.events-coundwon.events-coundwon-2 .count-down-time .single-count .number:before {
    display: none;
}
.events-coundwon.events-coundwon-2 .count-down-time .single-count .title {
    text-align: center;
    margin: 0;
}
@media (max-width:767.98px) {
    .events-coundwon.events-coundwon-2 .count-down-time .single-count {
        height: 108px;
        line-height: 25px;
        padding-top: 30px;
        width: 108px;
    }
}
@media (max-width:575.98px) {
    .events-coundwon.events-coundwon-2 .count-down-time .single-count {
        margin: 0 2px;
    }
    .events-coundwon.events-coundwon-2 {
        padding: 70px 18px 70px;
    }
    .events-coundwon.events-coundwon-2 .count-down-time .single-count {
        height: 55px;
        line-height: 17px;
        padding-top: 8px;
        width: 55px;
    }
    .events-coundwon .count-down-time .single-count .title {
        font-size: 12px;
        letter-spacing: -0.5px;
    }
    .events-coundwon.events-coundwon-2 .count-down-time .single-count .number {
        font-size: 18px;
    }
}
/* Sidebar */

.widget-area.tribe-events-bottom-widget {
    margin-top: 30px;
}
.type-page .entry-content .widget-area.tribe-events-bottom-widget h2 {
    margin: inherit;
    padding-bottom: 0;
}
.widget-area.tribe-events-bottom-widget .tribe-events-list-widget .tribe-event-title {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.5;
}
.widget-area.tribe-events-bottom-widget .tribe-events-list-widget .tribe-event-duration {
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8a8a8a;
    margin-bottom: 20px;
}
.entry-content .widget-area.tribe-events-bottom-widget ol {
    padding-left: 0
}
.widget-area.tribe-events-bottom-widget li {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #e0e0e0;
}
.widget-area.tribe-events-bottom-widget p.tribe-events-widget-link {
    margin-bottom: 0;
    text-align: right;
}