.learndash-wrapper .ld-login-modal .ld-login-modal-register #wp-submit {
    border-width: 2px;
    padding: 12px;
}
.learndash-wrapper .ld-login-modal input[type='submit'] {
    padding: 12px 12px;
}
.learndash-wrapper .ld-login-modal .ld-login-modal-register .ld-button:hover {
    -webkit-box-shadow: 0 0 0 2px #fff !important;
    box-shadow: 0 0 0 2px #fff !important;
}
.learndash-wrapper .ld-course-navigation .ld-course-navigation-actions .ld-home-link {
    display: none;
}
.btn-join, #btn-join, .learndash_checkout_buttons input.btn-join[type="button"], a#quiz_continue_link {
    background: #ffc600;
    font-size: 16px;
    font-weight: 500;
}
.btn-join:hover, .btn-join:focus, .btn-join:active, .btn-join:visited, .btn-join.active, #btn-join:hover, #btn-join:focus, a#quiz_continue_link:hover, .learndash_checkout_buttons input.btn-join[type="button"]:hover, a#quiz_continue_link:focus {
    background: #07294d;
}
.sfwd-courses-template-default {
    background: #edf0f2;
}
.learndash-wrapper button:hover, .learndash-wrapper button:focus, .learndash-wrapper input[type="button"]:hover, .learndash-wrapper input[type="button"]:focus, .learndash-wrapper input[type="submit"]:hover, .learndash-wrapper input[type="submit"]:focus {
    color: #fff;
}
body.learndash-cpt.learndash-embed-responsive .ld-video{
    margin-bottom: 15px;
}
.learndash-wrapper .learndash_mark_complete_button:disabled, .learndash-wrapper #learndash_mark_complete_button:disabled{
    -webkit-filter: none;
    filter: none;
}
/*=====================================================
    LearnDash archive page
======================================================*/

.archive.post-type-archive-sfwd-courses {
    background: #edf0f2;
}
.single-course-three .course-image {}
.single-course-three .course-image img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.single-course-three .course-content {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
}
.single-course-three .course-content .course-title {
    padding-bottom: 20px;
    line-height: 20px;
}
.single-course-three .course-content .course-title a {
    font-size: 20px;
    line-height: 28px;
    color: #23252a;
    font-weight: 700;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.single-course-three .course-content .course-title a:hover {
    color: #ffc600;
}
.single-course-three .course-meta {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
}
.single-course-three .course-meta .price {
    float: left;
}
.single-course-three .course-meta .price span {
    font-size: 16px;
    color: #ffc600;
    font-weight: 700;
}
.single-course-three .course-meta .admin {
    float: right;
}
.single-course-three .course-meta .admin ul {
    margin: 0;
}
.single-course-three .course-meta .admin ul li {
    display: inline-block;
    margin-right: 15px;
}
.single-course-three .course-meta .admin ul li:last-child {
    margin-right: 0;
}
.single-course-three .course-meta .admin ul li {
    font-size: 16px;
    color: #8a8a8a;
}
.single-course-three .course-meta .admin ul li a {
    font-size: 16px;
    color: #8a8a8a;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.single-course-three .course-meta .admin ul li a:hover {
    color: #ffc600;
}
.edubin-single-course-1.ld-course .course-bottom .course-meta {
    display: inline-block;
}
.edubin-single-course-1.ld-course .course-bottom .see-more-btn {
    display: inline-block;
    float: right;
}
.edubin-single-course-1.ld-course .course-bottom .see-more-btn a {
    border: 1px solid #ffc600;
    padding: 8px 15px;
    background: #ffc600;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
}
.edubin-single-course-1.ld-course .course-bottom .see-more-btn:hover a {
    border: 1px solid #07294d;
    background: #07294d;
    color: #fff;
}
.edubin-single-course-1.ld-course .course-content ul li {
    margin-right: 12px;
    color: #8a8a8a;
}
.edubin-single-course-1.ld-course .edubin-course-price-2 span {
    padding: 4px 15px;
}
/* Course four*/

.edubin-single-course-2.ld-course .course-meta-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.edubin-single-course-2.ld-course .see-more-btn {
    float: left;
    margin-right: 15px;
}
.edubin-single-course-2.ld-course .see-more-btn a {
    color: #ffc600;
    font-weight: 600;
}
.edubin-single-course-2.ld-course .see-more-btn:hover a {
    color: #fff;
}
.edubin-single-course-2.ld-course .course-meta ul {
    margin: 0;
}
.edubin-single-course-2.ld-course .course-meta ul li {
    display: inline-block;
    margin-right: 15px;
}
.edubin-single-course-2.ld-course .course-meta ul li:last-child {
    margin-right: 0;
}
.edubin-single-course-2.ld-course .course-meta ul li {
    font-size: 16px;
    color: #ffc600;
}
.edubin-single-course-2.ld-course .course-meta ul li a {
    font-size: 16px;
    color: #ffc600;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.edubin-single-course-2.ld-course .course-meta ul li a:hover {
    color: #ffc600;
}
/*=====================================================
    LearnDash course single page
======================================================*/

.single.single-sfwd-courses {
    background: #edf0f2;
}
.single.single-sfwd-courses .edubin-entry-footer {
    display: none;
}
.learndash-wrapper {
    line-height: 26px;
}
.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled .ld-status {
    text-transform: capitalize;
    font-size: 14px;
    padding: 12px 22px;
    color: #07294d!important;
}
.sfwd-courses-template-default article, .sfwd-lessons-template-default article, .sfwd-quiz-template-default article, .sfwd-topic-template-default article, .sfwd-certificates-template-default article {
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
    background: #fff;
}
.sfwd-courses-template-default article .post-wrapper, .sfwd-lessons-template-default article .post-wrapper, .sfwd-quiz-template-default article .post-wrapper, .sfwd-topic-template-default article .post-wrapper, .sfwd-certificates-template-default article .post-wrapper {
    padding: 40px 40px 40px;
}
@media (max-width: 767.98px) {
    .sfwd-courses-template-default article .post-wrapper, .sfwd-lessons-template-default article .post-wrapper, .sfwd-quiz-template-default article .post-wrapper, .sfwd-topic-template-default article .post-wrapper, .sfwd-certificates-template-default article .post-wrapper {
        padding: 40px 25px 40px;
    }
}
.sfwd-courses-template-default article .entry-header .entry-title, .sfwd-lessons-template-default article .entry-header .entry-title, .sfwd-quiz-template-default article .entry-header .entry-title, .sfwd-topic-template-default article .entry-header .entry-title, .sfwd-certificates-template-default article .entry-header .entry-title {
    padding-top: 30px;
    font-size: 30px;
    line-height: 36px;
}
.sfwd-courses-template-default article ul.entry-meta li, .sfwd-lessons-template-default article ul.entry-meta li, .sfwd-quiz-template-default article ul.entry-meta li, .sfwd-topic-template-default article ul.entry-meta li, .sfwd-certificates-template-default article ul.entry-meta li {
    font-size: 14px;
    color: #ffc600;
    font-weight: 400;
    margin-right: 25px;
    word-break: break-word;
    margin-bottom: 20px;
}
.sfwd-courses-template-default article .post-thumbnail {
    margin-left: 0;
    margin-right: 0;
}
.learndash-wrapper .ld-tabs {
    margin: 10px 0;
}
.learndash-wrapper .ld-tabs .ld-tabs-content .ld-tab-content.ld-visible {
    padding-bottom: 10px;
}
.ld-tabs-content .ld-tab-content h3 {
    margin-bottom: 10px;
}
.sfwd-courses-template-default .entry-content ul {
    padding-left: 20px;
}
/*== Sidebar ==*/

.widget.edubin-ld-widget ul {
    padding: 0;
}
.widget.edubin-ld-widget li>h4 {
    font-size: 16px;
    padding-bottom: 12px;
    line-height: 22px;
    border-bottom: 1px solid #e9ecef;
}
.widget.edubin-ld-widget li:first-child {
    padding-top: 0;
}
.widget.edubin-ld-widget li:last-child>h4 {
    border-bottom: none;
    padding-bottom: 0;
}
.widget.edubin-ld-widget .ld-course-info-my-courses img {
    max-width: 100%;
}
#secondary .widget.edubin-ld-widget .ld-course-info-my-courses h2 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}
.widget.edubin-ld-widget .ld_course_info_mycourses_list h4 {
    padding-bottom: 20px;
}
.widget.edubin-ld-widget .learndash-pager a {
    padding: 8px 15px;
    background-color: #ffc600;
}
.widget.edubin-ld-widget .learndash-pager {
    margin: 20px 0 15px 0;
}
.widget.edubin-ld-widget .course_progress_details h4 {
    margin-bottom: 15px;
}
.widget.edubin-ld-widget span.learndash-profile-course-title {
    display: block;
    margin-bottom: 15px;
}
.widget.edubin-ld-widget.widget_sfwd-lessons-widget ul>li>h4>a {
    font-size: inherit;
}
.widget.edubin-ld-widget dd.course_progress {
    margin: 0;
    width: 100%;
}
#secondary.widget-area section.widget.ld-widget:first-child {
    border-top: none;
    border-bottom: none;
}
#secondary.widget-area .widget.ld-widget {
    border-top: none;
    border-bottom: none;
}
.widget .ld-widget-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 30px;
}
.ld-course-price {
    color: #07294d;
    font-size: 20px;
    font-weight: 700;
}
.ld_course_grid {
    margin-bottom: 30px !important;
}
.ld_course_grid .entry-title {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 12px;
    font-weight: 700;
}
#ld_course_list .entry-content, .ld_course_grid_button .entry-content {
    margin-bottom: 20px;
}
#ld_course_list .ld_course_grid:hover .thumbnail, .ld_course_grid_button .ld_course_grid:hover .thumbnail {
    box-shadow: 0 7px 21px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#ld_course_list .thumbnail, .ld_course_grid_button .thumbnail {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 !important;
    border: none !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#ld_course_list .thumbnail.course .ld_course_grid_price:before, .ld_course_grid_button .thumbnail.course .ld_course_grid_price:before {
    border-top: 4px solid #ecb101;
    border-right: 4px solid #ecb101;
}
#ld_course_list .thumbnail.course .ld_course_grid_price, .ld_course_grid_button .thumbnail.course .ld_course_grid_price, #ld_course_list .thumbnail.course .ld_course_grid_price.ribbon-enrolled, .ld_course_grid_button .thumbnail.course .ld_course_grid_price.ribbon-enrolled {
    background-color: #ecb101;
}
#ld_course_list .thumbnail.course .ld_course_grid_price, .ld_course_grid_button .thumbnail.course .ld_course_grid_price {
    text-shadow: none;
    z-index: 1;
}
#ld_course_list .thumbnail .caption, .ld_course_grid_button .thumbnail .caption {
    padding: 20px !important;
}
#ld_course_list .btn-primary, .ld_course_grid_button .btn-primary {
    border-radius: 50px !important;
    background: transparent !important;
    border-color: #ecb101 !important;
    font-weight: 600 !important;
    padding: 7px 20px !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#ld_course_list .btn-primary:hover, .ld_course_grid_button .btn-primary:hover {
    background: #ecb101 !important;
    border-color: #ecb101 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white !important;
}
#ld_course_list .btn, .ld_course_grid_button .btn {
    color: #ecb101 !important;
    border-width: 2px !important;
}
#ld_course_list .ld-course-list-items .ld_course_grid .thumbnail .caption p, .ld_course_grid_button .ld-course-list-items .ld_course_grid .thumbnail .caption p {
    width: intrinsic !important;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content !important;
    /* Firefox/Gecko */
    width: -webkit-max-content !important;
    /* Chrome */
    max-width: 100%;
}
.btn-join, #btn-join, .learndash_checkout_buttons input.btn-join[type="button"], a#quiz_continue_link {
    border-radius: 100px;
    font-weight: 600!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn-join:hover, #btn-join:hover, .learndash_checkout_buttons input.btn-join[type="button"]:hover, a#quiz_continue_link:hover {
    background: #242c5e;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learndash-wrapper .ld-login-modal .ld-modal-heading {
    font-weight: 600;
    font-size: 32px;
}
.checkout-dropdown-button .learndash_checkout_button .btn-join {
    font-weight: 600!important;
}
.learndash_join_button {
    margin-bottom: 25px;
}
.expand_collapse:hover a {
    color: #ecb101;
}
#learndash_lessons, #learndash_quizzes, .expand_collapse, .notavailable_message, #learndash_lesson_topics_list div>strong, #learndash_lesson_topics_list div ul>li .sn, .learndash_profile_heading, #learndash_profile a, #learndash_profile div {
    font-size: 14px;
}
#learndash_lessons, #learndash_quizzes, #learndash_profile, #learndash_lesson_topics_list>div {
    border-radius: 0;
    margin-top: 22px;
    box-shadow: none;
}
.learndash .notcompleted, #learndash_profile .notcompleted {
    background-size: 35px;
    line-height: 40px;
}
#lessons_list>div h4>a, #course_list>div h4>a, #quiz_list>div h4>a {
    color: #666;
    font-size: 14px;
}
.learndash .learndash_topic_dots.type-list a>span {
    color: #666;
    font-size: 14px;
}
#learndash_course_content .learndash_topic_dots ul>li:hover, #learndash_lessons h4>a:hover, #learndash_quizzes h4>a:hover, #learndash_lesson_topics_list ul>li>span.topic_item:hover {
    background-color: #ffeeba;
}
.expand_collapse a, #learndash_profile .expand_collapse a {
    font-size: 14px;
}
.single-sfwd-courses .single-post .entry-content ul li {
    margin-left: 0;
}
.learndash #lessons_list>div h4>a, .learndash #course_list>div h4>a, .learndash #quiz_list>div h4>a {
    background-size: 40px;
}
.learndash .notcompleted, #learndash_profile .notcompleted {
    background-image: url('../images/notcompleted.png');
}
.learndash .topic-notcompleted span {
    background: url(../images/notcompleted_t.png) no-repeat scroll 0 5px transparent;
}
.learndash .completed, #learndash_profile .completed {
    background-image: url('../images/completed.png');
}
form#sfwd-mark-complete input {
    padding: 12px 20px;
}
p#learndash_next_prev_link:hover a, p#learndash_prev_prev_link:hover a, #learndash_back_to_lesson:hover a {
    color: #ecb101;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.lpcourse-sidebar.ldcourse-sidebar.sidebar-devider .learndash_checkout_buttons {
    padding-bottom: 40px;
}
.lpcourse-sidebar.ldcourse-sidebar.sidebar-devider .ld_course_grid_price.ribbon-enrolled {
    padding-bottom: 30px;
}
.ld-r-description {
    padding-bottom: 12px;
}
.lp-enroll i.fa.fa-money {
    margin-right: 5px;
}
.course-summary.ld-course-summary {
    background: #fff;
    padding: 30px;
}
.course-summary.ld-course-summary .learndash_checkout_buttons {
    display: none;
}
.course-summary.ld-course-summary .learndash_join_button {
    display: none;
}
.lpcourse-sidebar.ldcourse-sidebar .edumodo-course-info>.widget:last-child {
    padding-bottom: 40px;
}
.lpcourse-sidebar.ldcourse-sidebar .edumodo-course-info {
    padding: 0;
}
.lpcourse-sidebar.ldcourse-sidebar .widget-area .widget {
    box-shadow: none;
    transition: all 0.3s ease;
    padding: 20px 20px 10px 20px;
    margin: 0;
}
.lpcourse-sidebar.ldcourse-sidebar .learndash_checkout_buttons .learndash_checkout_button {
    max-width: inherit;
    margin-right: 0;
    width: 100%;
}
.lpcourse-sidebar.ldcourse-sidebar .btn-join, .lpcourse-sidebar.ldcourse-sidebar #btn-join, .lpcourse-sidebar.ldcourse-sidebar .learndash_checkout_buttons input.btn-join[type="button"], .lpcourse-sidebar.ldcourse-sidebar a#quiz_continue_link {
    width: 100%;
}
/*You may like / related course */

.edubin-related-course {
    background-color: #fff;
    padding: 25px 30px 30px;
}
.edubin-related-course .single-maylike {
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}
.edubin-related-course .single-maylike .image {
    position: relative;
}
.edubin-related-course .single-maylike .image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(7, 41, 77, 0.8);
}
.edubin-related-course .single-maylike .image img {
    width: 100%;
    object-fit: cover;
    height: 135px;
}
.edubin-related-course .single-maylike .cont {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 30px;
}
.edubin-related-course .single-maylike .cont h4 {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    margin-bottom: 8px;
}
.edubin-related-course .single-maylike .cont h4:hover {
    color: #ffc600;
}
.edubin-related-course .single-maylike .cont ul {
    margin: 0;
    padding-left: 0;
}
.edubin-related-course .single-maylike .cont ul li {
    display: inline-block;
    margin-right: 15px;
    color: #ffc600;
}
.edubin-related-course .single-maylike .cont ul li a {
    font-size: 14px;
    color: #fff;
}
.edubin-related-course .single-maylike .cont ul li.enroll-student {
    font-size: 14px;
    color: #fff;
}
.edubin-related-course .single-maylike .cont ul li a i {
    margin-right: 3px;
}
/* == New learndash version 3 + == */

.learndash-wrapper .ld-button {
    font-size: .90em;
    background-color: #ffc600;
    color: #07294d;
    border-radius: 100px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learndash-wrapper .ld-button:hover {
    background-color: #07294d;
    opacity: 1;
    color: #fff;
}
.learndash-wrapper .learndash_mark_complete_button, .learndash-wrapper #learndash_mark_complete_button {
    font-size: .90em;
    background-color: #ffc600;
    color: #07294d;
    border-radius: 100px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learndash-wrapper .ld-button .ld-icon {
    -webkit-transition: none;
    transition: none;
}
.learndash-wrapper .ld-button:hover .ld-icon-arrow-left {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.learndash-wrapper .ld-button:hover .ld-icon-arrow-right {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.learndash-wrapper .sfwd-mark-complete::after, .learndash-wrapper #sfwd-mark-complete::after {
    color: #07294d;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learndash-wrapper .sfwd-mark-complete:hover::after, .learndash-wrapper #sfwd-mark-complete:hover::after {
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learndash-wrapper .learndash_mark_complete_button:hover, .learndash-wrapper #learndash_mark_complete_button:hover {
    background-color: #07294d;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learndash-wrapper .ld-status-unlocked {
    background-color: #07294d;
    color: #fff;
}
.learndash-wrapper .ld-breadcrumbs .ld-status.ld-status-progress {
    background-color: #07294d;
}
.learndash-wrapper a {
    color: #07294d;
}
.learndash-wrapper .ld-content-actions>a {
    font-size: .90em;
}
.learndash-wrapper .ld-status {
    padding: 9px 12px;
    border-radius: 60px;
}
.learndash-wrapper .ld-breadcrumbs .ld-breadcrumbs-segments {
    font-size: .90em;
}
.learndash-wrapper .ld-item-list .ld-item-list-item a.ld-item-name:hover {
    color: #ffc600;
}
.learndash-wrapper .ld-status-complete {
    background-color: #07294d;
}
.learndash-wrapper .ld-table-list .ld-table-list-header {
    background-color: #07294d;
}
.learndash-wrapper .ld-expand-button {
    background-color: #07294d;
    border-radius: 100px;
}
.learndash-wrapper .ld-expand-button:hover {
    background-color: #ffc600;
    /*    color: #07294d;*/
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learndash-wrapper .ld-expand-button.ld-button-alternate .ld-icon {
    background: #07294d;
}
.learndash-wrapper .ld-expand-button.ld-button-alternate {
    color: #07294d;
}
.learndash-wrapper .ld-table-list a.ld-table-list-item-preview:hover {
    color: #ffc600;
}
.learndash-wrapper .ld-tabs .ld-tabs-navigation .ld-tab.ld-active:after {
    background: #07294d;
}
.learndash-wrapper .ld-tabs .ld-tabs-navigation .ld-tab.ld-active {
    color: #07294d;
}
.learndash-wrapper .ld-course-status .ld-status.ld-status-progress {
    background: #07294d;
}
.learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage {
    background: #07294d;
}
.learndash-wrapper .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage {
    color: #07294d;
}
.learndash-wrapper .ld-breadcrumbs .ld-status.ld-status-complete {
    background: #07294d;
}
.learndash-wrapper .btn-join, .learndash-wrapper #btn-join {
    background-color: #07294d;
}
.learndash-wrapper .btn-join:hover, .learndash-wrapper #btn-join:hover {
    background-color: #ffc600;
    color: #07294d;
}
.single-sfwd-courses article, .single-sfwd-lessons article, .single-sfwd-quiz article, .single-sfwd-topic article, .single-sfwd-certificates article {
    background: #fff;
    padding: 0;
}
.single-sfwd-courses .post-wrapper, .single-sfwd-lessons .post-wrapper, .single-sfwd-quiz .post-wrapper, .single-sfwd-topic .post-wrapper, .single-sfwd-certificates .post-wrapper {
    padding: 40px 0;
}
.single-sfwd-courses .post-thumbnail {
    margin-left: -40px;
    margin-right: -40px;
}
.learndash-wrapper .ld-course-status .ld-status.ld-status-progress {
    padding: 14px 23px;
    border-radius: 100px;
}
.learndash-wrapper .btn-join, .learndash-wrapper #btn-join {
    border-radius: 100px;
    font-size: 14px;
    padding: 14px 22px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 10px;
}
.learndash-wrapper .ld-status-waiting {
    background-color: #ffd200;
    color: #07294d;
}
.learndash-wrapper .ld-status {
    padding: 13px 20px;
    border-radius: 100px;
}
.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled .ld-course-status-price {
    color: #07294d;
}
.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled .ld-course-status-label {
    color: #072a4d;
    font-size: 14px;
    margin-bottom: 0;
}
.learndash-wrapper .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion li.wpProQuiz_reviewQuestionTarget, .learndash-wrapper .ld-button:hover:not(.learndash-link-previous-incomplete):not(.ld-button-transparent), #learndash-tooltips .ld-tooltip:after, #learndash-tooltips .ld-tooltip, .learndash-wrapper .ld-primary-background, .learndash-wrapper .btn-join, .learndash-wrapper #btn-join, .learndash-wrapper .ld-button:not(.ld-js-register-account):not(.learndash-link-previous-incomplete):not(.ld-button-transparent), .learndash-wrapper .ld-expand-button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button2, .learndash-wrapper .wpProQuiz_content a#quiz_continue_link, .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-course-navigation-heading, .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-trigger, .learndash-wrapper .ld-focus-comments .form-submit #submit, .learndash-wrapper .ld-login-modal input[type='submit'], .learndash-wrapper .ld-login-modal .ld-login-modal-register, .learndash-wrapper .wpProQuiz_content .wpProQuiz_certificate a.btn-blue, .learndash-wrapper .ld-focus .ld-focus-header .ld-user-menu .ld-user-menu-items a, #wpProQuiz_user_content table.wp-list-table thead th, #wpProQuiz_overlay_close, .learndash-wrapper .ld-expand-button.ld-button-alternate .ld-icon {
    background-color: #07294d;
    color: #fff;
}
.learndash-wrapper .ld-course-status-content a.ld-button {
    color: #fff;
}
.learndash-wrapper .ld-course-status-content a.ld-button:hover {
    color: #07294d;
}
.learndash-wrapper .ld-button:not(.ld-js-register-account):not(.learndash-link-previous-incomplete):not(.ld-button-transparent):hover {
    background-color: #ffd200;
    color: #fff;
}
.learndash-wrapper .ld-course-navigation .ld-lesson-item.ld-is-current-lesson .ld-lesson-item-preview-heading, .learndash-wrapper .ld-course-navigation .ld-lesson-item.ld-is-current-lesson .ld-lesson-title {
    color: #07294d;
}