/*--------------------------------------------------------------
/*! normalize.css v8.0.1
--------------------------------------------------------------*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    color: #505050;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
code {
    padding: 2px;
    border-radius: 2px;
    color: #23282d;
    background: #f3f4f5;
    font-family: Menlo, Consolas, monaco, monospace;
    font-size: 14px;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
/*--------------------------------------------------------------
flat icon 
--------------------------------------------------------------*/

i.glyph-icon.flaticon-profile {
    font-weight: 600;
}
i.glyph-icon.flaticon-chat {
    font-weight: 600;
}
i.glyph-icon.flaticon-open-folder {
    font-weight: 600;
    padding-right: 5px;
}
/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/

button, input, select, textarea {
    color: #505050;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    font-style: normal;
    padding: 7px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #07294d;
    margin-bottom: 15px;
}
h1 {
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    margin: 0 0 1.5em;
    padding: 0;
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote {
    quotes: "" "";
    margin: 0;
    box-shadow: inset 0 0 0 0 #e2e4e7;
    border-left: 4px solid #000;
    padding-left: 1em;
}
address {
    margin: 0 0 1.5em;
}
code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark, ins {
    text-decoration: none;
}
big {
    font-size: 125%;
}
q {
    quotes: "“" "”" "‘" "’";
}
blockquote:before, blockquote:after {
    content: "";
}
:focus {
    outline: none !important;
}
:focus {
    outline: 0 !important;
}
a:focus {
    text-decoration: none;
}
.form-control:focus {
    box-shadow: none;
    border-radius: 4px;
}
/*--------------------------------------------------------------
 Forms
--------------------------------------------------------------*/

label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5em;
}
fieldset {
    border: 1px solid #e0e0e0;
    margin: 0 2px 1em 2px;
    padding: 0.35em 0.625em 0.75em;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    background: #fff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #e0e0e0;
    display: block;
    width: 100%;
    padding: 10px 12px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
    color: #333;
    border-color: #07294d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
select {
    border: 1px solid #e0e0e0;
    height: 3em;
    max-width: 100%;
    color: #6f6f6f;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 0.5em;
}
input[type="radio"]+label, input[type="checkbox"]+label {
    font-weight: 400;
}
button, input[type="button"], input[type="submit"] {
    background-color: #07294d;
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
button.secondary, input[type="reset"], input[type="button"].secondary, input[type="reset"].secondary, input[type="submit"].secondary {
    background-color: #ffc600;
    color: #333;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background: #ffc600;
    color: #07294d;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
button.secondary:hover, button.secondary:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"].secondary:hover, input[type="button"].secondary:focus, input[type="reset"].secondary:hover, input[type="reset"].secondary:focus, input[type="submit"].secondary:hover, input[type="submit"].secondary:focus {
    background: #bbb;
}
.search input[type="search"] {
    padding: 0.54em 0 0.54em 10px;
}
/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
}
:-moz-placeholder {
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
}
::-moz-placeholder {
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
}
/*--------------------------------------------------------------
Lists
--------------------------------------------------------------*/

ul, ol {
    margin: 0 0 1.5em;
    padding: 0;
}
ul {
    list-style: none;
}
.entry-content ul {
    list-style: inherit;
    padding-left: 20px;
}
.entry-content ul.wp-block-gallery {
    padding-left: 0;
}
ul.entry-meta li i {
    padding-right: 4px;
    color: #ffc600;
}
ul.entry-meta li>i.far.fa-folder-open {
    margin-right: 5px;
}
ul.entry-meta {
    padding-left: 0;
    margin-bottom: 15px;
}
.entry-content ol {
    padding-left: 20px;
}
.comment-content ul {
    list-style: initial;
}
ol {
    list-style: decimal;
}
li>ul, li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: 700;
}
dd {
    margin: 0 1.5em 1.5em;
}
/*--------------------------------------------------------------
Tables
--------------------------------------------------------------*/

table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}
thead th {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5em;
}
th {
    padding: 0.4em;
    text-align: left;
    border: 1px solid #e0e0e0;
}
tr {
    border-bottom: 1px solid #e0e0e0;
}
td {
    padding: 0.4em;
    border: 1px solid #e0e0e0;
}
th:last-child, td:last-child {
    padding-right: 0;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/

body a {
    color: #07294d;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
body a:hover, body a:active {
    color: #ffc600;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.post-navigation a:focus .icon, .post-navigation a:hover .icon {
    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*--------------------------------------------------------------
Featured Image Hover
--------------------------------------------------------------*/

.post-thumbnail a img {
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
#page {
    position: relative;
    word-wrap: break-word;
}
.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-left: 2em;
    padding-right: 2em;
}
.wrap:after {
    clear: both;
    content: "";
    display: block;
}
.single {
    background: #edf0f2;
}
.search {
    background: #edf0f2;
}
.archive {
    background: #edf0f2;
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

.header-wrapper {
    background: #fff;
}
/* Sticky header */

.header-wrapper .header-menu .site-branding img {
    margin-top: 0;
}
@media (max-width:320px) {
    .header-wrapper .header-menu .site-branding img, .site-branding img.custom-logo {
        max-width: 155px !important;
    }
}
.is-header-sticky.sticky-active .header-top {
    display: none;
    transition: all 0.5s ease;
}
.header-top {
    background-color: #07294d;
    padding-top: 23px;
    padding-bottom: 23px;
    transition: all 0.5s ease;
}
.header-left {
    width: 50%;
    display: inline-block;
    float: left;
}
.header-top .social .follow-us {
    font-size: 14px;
    color: #edf0f2;
}
.header-top .social .follow-us {
    color: #edf0f2;
}
.header-top ul.social-icons {
    margin-left: 2px;
}
.header-top ul.social-icons li {
    color: #edf0f2;
    padding: 0 7px;
}
.header-top ul li a {
    color: #edf0f2;
    letter-spacing: 0.2px;
    transition: all 0.5s ease;
}
.header-top ul li a:hover {
    color: #ffc600;
    transition: all 0.5s ease;
}
.header-top ul li a:hover i {
    color: #ffc600;
    transition: all 0.5s ease;
}
.header-top .contact-info .list-inline-item {
    margin-right: 20px;
}
.header-top .contact-info .list-inline-item:last-child {
    margin-right: 0;
}
.header-top ul li {
    color: #edf0f2;
    font-size: 14px;
    display: inline-block;
}
.header-top li i {
    font-size: 14px;
}
.header-top .header-left li i {
    padding-right: 5px;
}
.header-top .social-info li i {
    margin-right: 0;
}
.header-top .social-info li.list-inline-item:last-child {
    margin-right: 0;
}
.header-top .social-info li.list-inline-item {
    margin-right: 20px;
}
.header-top .social-info li i {
    color: #edf0f2;
}
.header-top ul {
    margin-bottom: 0;
}
.header-top {
    padding: 10px 0px;
    min-height: 46px;
}
.header-top .header-right .login-register {
    position: relative;
    padding-left: 25px;
}
.header-top .header-right .login-register ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-top .header-right .login-register ul li {
    padding-right: 14px;
    line-height: 22px;
}
.header-top .header-right .login-register li.logouthide::before {
    display: none;
}
.header-top .header-right .login-register ul li::before {
    position: absolute;
    content: "/";
    width: 10px;
    height: 10px;
    left: 52%;
    right: 0;
    color: #ffc600;
}
.header-top .header-right .login-register.logout ul li::before {
    display: none;
}
.header-top .header-right .login-register ul li:last-child {
    padding-right: 0px;
}
.header-top .header-right .login-register ul li span i {
    color: #edf0f2;
}
.header-top .header-right .login-register ul li a {
    color: #ffc600;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    display: inline-block;
}
.header-top .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-top .header-right .login-register ul li a {
    color: #ffc600;
    text-transform: initial
}
.header-top .header-right .login-register ul li:hover a {
    color: #fff;
}
@media (max-width: 767.98px) {
    .header-left {
        display: none;
    }
    .header-top .social .follow-us {
        display: none;
    }
    .header-top .header-right {
        justify-content: center;
    }
}
/* Top header 2 */

.header-top.header-top-2 {
    background-color: #fff;
    border-bottom: 1px solid #edf0f2;
}
.header-top.header-top-2 ul li {
    color: #07294d;
}
.header-top.header-top-2 ul li a {
    color: #07294d;
}
.header-top.header-top-2 ul li a:hover {
    color: #ffc600;
}
.header-top.header-top-2 .header-right .login-register ul li a {
    color: #07294d;
    text-transform: initial;
    padding: 6px 18px;
    background: #ffc600;
    border-radius: 3px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-top.header-top-2 .header-right .login-register ul li:hover a {
    color: #fff;
    background-color: #07294d;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-top.header-top-2 .header-right .login-register ul li::before {
    display: none;
}
.header-top.header-top-2 {
    padding: 11px 0px;
}
.header-top.header-top-2 .social .follow-us {
    color: #07294d;
}
/*Header top widget*/
.header-top-widget-area .widget {
    display: inline-block;
    margin-left: 10px;
}
/* Main header */

.header-right-icon {
    margin-left: 30px;
    float: right;
}
@media (max-width:320px) {
    .header-right-icon {
        margin-left: 10px;
    }
}
.header-right-icon ul {
    margin: 0;
}
.header-right-icon ul li {
    display: inline-block;
    margin-right: 2px;
    padding: 28px 0;
}
.header-right-icon ul li:last-child {
    margin-right: 0;
}
.header-right-icon ul li a {
    font-size: 16px;
    color: #07294d;
    position: relative;
    padding-right: 7px;
}
.header-right-icon ul li a span {
    font-size: 12px;
    color: #07294d;
    background-color: #ffc600;
    border-radius: 100px;
    padding: 0px 4px;
    position: absolute;
    right: 0;
    height: 18px;
    width: 18px;
    line-height: 20px;
    text-align: center;
    display: inline-flex;
    bottom: 12px;
    align-items: center;
    justify-content: center;
}
.header-right-icon ul li i.glyph-icon.flaticon-supermarket {
    padding-right: 10px;
}
/*===== SEARCH BOX =====*/

.edubin-search-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 41, 77, 0.7);
    z-index: 999;
    display: none;
}
.edubin-closebtn {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    width: 30px;
    height: 25px;
}
.edubin-closebtn span {
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    display: block;
}
.edubin-closebtn span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 11px;
}
.edubin-closebtn span:nth-of-type(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
}
.edubin-search-box .edubin-search-form input {
    width: 50%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #07294d;
    color: #07294d;
    padding-left: 20px;
    border-radius: 50px;
}
.edubin-search-box .edubin-search-form button {
    position: absolute;
    top: 50%;
    left: 72%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #07294d;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width:567px) {
    .edubin-search-box .edubin-search-form input {
        width: 70%;
    }
    .edubin-search-box .edubin-search-form button {
        left: 77%;
    }
}
/* Site branding start */

#masthead .wrap {
    position: relative;
}
.site-header {
    position: relative;
}
/* Site branding */

.site-branding {
    padding: 1em 0;
    position: relative;
    z-index: 3;
}
.site-branding a {
    text-decoration: none;
}
.title-tagline-hidden .site-title, .title-tagline-hidden .site-description {
    display: none;
}
.site-title {
    clear: none;
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.site-title, .site-title a {
    color: #ffc600;
    opacity: 1;
}
.site-description {
    color: #666;
    font-size: 13px;
    font-size: 0.8125rem;
    margin-bottom: 0;
}
.custom-logo-link {
    display: inline-block;
    padding-right: 1em;
    vertical-align: middle;
    width: auto;
}
.custom-logo-link img {
    display: inline-block;
    max-height: 80px;
}
body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
    max-height: 200px;
    max-width: 100%;
}
.custom-logo-link a:hover, .custom-logo-link a:focus {
    opacity: 0.9;
}
body:not(.title-tagline-hidden) .site-branding-text {
    display: inline-block;
    vertical-align: middle;
}
.custom-header {
    position: relative;
}
.has-header-image.edubin-front-page .custom-header, .has-header-video.edubin-front-page .custom-header, .has-header-image.home.blog .custom-header, .has-header-video.home.blog .custom-header {
    display: table;
    height: 300px;
    height: 75vh;
    width: 100%;
}
.custom-header-media {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.custom-header-media:before {
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0);
    /* IE6-9 */
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
.has-header-image .custom-header-media img, .has-header-video .custom-header-media video, .has-header-video .custom-header-media iframe {
    position: fixed;
    height: auto;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    min-width: 100%;
    min-width: 100vw;
    /* vw prevents 1px gap on left that 100% has */
    width: auto;
    top: 50%;
    padding-bottom: 1px;
    /* Prevent header from extending beyond the footer */
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.wp-custom-header .wp-custom-header-video-button {
    /* Specificity prevents .color-dark button overrides */
    background-color: rgba(34, 34, 34, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    height: 45px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 30px;
    top: 30px;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    width: 45px;
}
.wp-custom-header .wp-custom-header-video-button:hover, .wp-custom-header .wp-custom-header-video-button:focus {
    /* Specificity prevents .color-dark button overrides */
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
}
.admin-bar .wp-custom-header-video-button {
    top: 62px;
}
.has-header-image:not(.edubin-front-page):not(.home) .custom-header-media img {
    bottom: 0;
    position: absolute;
    top: auto;
    -ms-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
/* For browsers that support 'object-fit' */

@supports (object-fit:cover) {
    .has-header-image .custom-header-media img, .has-header-video .custom-header-media video, .has-header-video .custom-header-media iframe, .has-header-image:not(.edubin-front-page):not(.home) .custom-header-media img {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        top: 0;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
        width: 100%;
    }
}
/* Hides div in Customizer preview when header images or videos change. */

body:not(.has-header-image):not(.has-header-video) .custom-header-media {
    display: none;
}
/*--------------------------------------------------------------
 Front Page
--------------------------------------------------------------*/

.edubin-panel {
    overflow: hidden;
    position: relative;
}
.panel-image {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.panel-image:before {
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0);
    /* IE6-9 */
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    top: 100px;
}
.edubin-front-page article:not(.has-post-thumbnail):not(:first-child) {
    border-top: 1px solid #e0e0e0;
}
.panel-content {
    position: relative;
}
.panel-content .wrap {
    padding-bottom: 0.5em;
    padding-top: 1.75em;
}
/* Panel edit link */

.edubin-panel .edit-link {
    display: block;
    margin: 0.3em 0 0;
}
.edubin-panel .entry-header .edit-link {
    font-size: 14px;
    font-size: 0.875rem;
}
/* Front Page - Recent Posts */

.edubin-front-page .panel-content .recent-posts article {
    border: 0;
    color: #333;
    margin-bottom: 3em;
}
.recent-posts .entry-header {
    margin-bottom: 1.2em;
}
.page .panel-content .recent-posts .entry-title {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: none;
}
.edubin-panel .recent-posts .entry-header .edit-link {
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-size: 0.6875rem;
    margin-left: 1em;
}
/*--------------------------------------------------------------
Regular Content
--------------------------------------------------------------*/

.site-content-contain {
    background-color: #fff;
    position: relative;
}
/*--------------------------------------------------------------
Posts
--------------------------------------------------------------*/

/* Post Landing Page */

.sticky {
    position: relative;
}
.post:not(.sticky) .icon-thumb-tack {
    display: none;
}
.sticky .icon-thumb-tack {
    display: block;
    height: 18px;
    left: -1.5em;
    position: absolute;
    top: 1.65em;
    width: 20px;
}
.page .panel-content .entry-title, .page-title, body.page:not(.edubin-front-page) .entry-title {
    color: #333;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
}
.entry-header .entry-title {
    padding-top: 0;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 40px;
}
.entry-title a {
    color: #07294d;
}
.entry-title:not(:first-child) {
    padding-top: 0;
}
.entry-meta {
    padding-bottom: 0;
    margin: 0;
}
.entry-meta a {
    color: #8a8a8a;
}
.single .byline, .group-blog .byline {
    display: inline;
}
.pagination, .comments-pagination {
    font-size: 15px;
    font-weight: 700;
    padding: 30px 0 0;
    text-align: center;
}
.pagination .icon, .comments-pagination .icon {
    width: 0.666666666em;
    height: 0.666666666em;
}
.comments-pagination {
    border: 0;
}
.page-numbers {
    display: inline-block;
    padding: 3px 0;
}
.page-numbers.current {
    color: #8a8a8a;
    display: inline-block;
}
.page-numbers.current .screen-reader-text {
    clip: auto;
    height: auto;
    overflow: auto;
    position: relative !important;
    width: auto;
}
.prev.page-numbers, .next.page-numbers {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    font-size: 15px;
}
.prev.page-numbers {
    float: left;
}
.next.page-numbers {
    float: right;
}
/* Aligned blockquotes */

.entry-content blockquote.alignleft, .entry-content blockquote.alignright {
    color: #666;
    font-size: 13px;
    font-size: 0.8125rem;
    width: 48%;
}
/* Blog landing, search, archives */

body:not(.edubin-front-page) .entry-header, body:not(.edubin-front-page) .entry-content, body:not(.edubin-front-page) #comments {
    margin-left: auto;
    margin-right: auto;
}
a.post-edit-link {
    padding-left: 20px;
    color: #07294d;
}
.blog .entry-meta a.post-edit-link, .archive .entry-meta a.post-edit-link, .search .entry-meta a.post-edit-link {
    color: #07294d;
    display: inline-block;
    margin-left: 1em;
    white-space: nowrap;
}
.search .page .entry-meta a.post-edit-link {
    margin-left: 0;
    white-space: nowrap;
}
.entry-meta li.edit.list-inline-item {
    margin-right: 0;
}
.taxonomy-description {
    color: #666;
    font-size: 13px;
    font-size: 0.8125rem;
}
/* More tag */

.entry-content .more-link:before {
    content: "";
    display: block;
    margin-top: 1.5em;
}
/* Single Post */

.single-post:not(.has-sidebar) #primary, .page.page-one-column:not(.edubin-front-page) #primary, .archive.page-one-column:not(.has-sidebar) .page-header, .archive.page-one-column:not(.has-sidebar) #primary {
    margin-left: auto;
    margin-right: auto;
}
.single-featured-image-header {
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}
.single-featured-image-header img {
    display: block;
    margin: auto;
}
/* Post Formats */

.post .entry-content {
    padding: 35px 45px 45px;
}
.search .entry-content {
    padding: 35px 45px 45px;
}
.format-quote blockquote {
    color: #333;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    overflow: visible;
    position: relative;
}
.format-quote blockquote .icon {
    display: block;
    height: 20px;
    left: 0.75em;
    position: absolute;
    top: 0.4em;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width: 20px;
}
/* Post Navigation */

.post-navigation {
    font-weight: 700;
    margin: 30px 0 30px 0;
}
.post-navigation .nav-links {
    padding: 1em 0;
    line-height: 16px;
}
.nav-subtitle {
    background: transparent;
    color: #8a8a8a;
    display: block;
    font-size: 11px;
    font-size: 0.6875rem;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.nav-title {
    color: #333;
    font-size: 15px;
    font-size: 0.9375rem;
}
.post-navigation .nav-next {
    margin-top: 1.5em;
}
.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
    margin-right: 0.5em;
}
.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
    margin-left: 0.5em;
}
.nav-links .nav-post {}
.nav-links span.nav-title {
    line-height: 22px;
}
/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/

.page .entry-header .edit-link {
    font-size: 14px;
    font-size: 0.875rem;
}
.search .page .entry-header .edit-link {
    font-size: 11px;
    font-size: 0.6875rem;
}
.page-links {
    clear: both;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 0;
}
/* Social nav */

.social-navigation ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
}
.social-navigation li {
    display: inline;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.social-navigation a {
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #edf0f2;
    display: inline-block;
    margin: 0 1em 0.5em 0;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.social-navigation a:hover, .social-navigation a:focus {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #ffc600;
}
.social-navigation li {
    position: relative;
    margin-left: 5px;
    font-size: 15px;
}
.social-navigation li:before {
    position: absolute;
    height: 11px;
    width: 1px;
    background: #edf0f2;
    content: "";
    right: 3px;
    top: 5px;
}
.social-navigation li:last-child:before {
    display: none;
}
@media (max-width:576px) {
    .text-right.text-ml-left {
        display: none;
    }
    .site-info {
        text-align: center;
    }
    .edubin-quickinfo .qicon {
        margin-bottom: 0;
    }
}
/* Site info */

.site-info {
    font-size: 15px;
    margin: 0;
    color: #fff;
}
.site-info p {
    color: #edf0f2;
}
.site-footer .site-info a {
    color: #edf0f2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-footer .site-info a:hover {
    color: #ffc600;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-info .sep {
    margin: 0;
    display: block;
    visibility: hidden;
    height: 0;
    width: 100%;
}
/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

body.page div#comments {
    padding: 45px 0;
    background: transparent;
}
body.page div#comments input[type="text"], body.page div#comments input[type="email"], body.page div#comments input[type="url"], body.page div#comments textarea {
    background: transparent;
    border: 1px solid #8a8a8a;
}
body.page div#comments .comment-body {
    border: 1px solid #8a8a8a;
}
div#comments {
    clear: both;
    background: #fff;
    padding: 45px;
}
div#comments textarea {
    max-height: 160px;
}
#comments .comments-title {
    font-size: 26px;
    margin-bottom: 1.5em;
    line-height: 24px;
}
.comment-list, .comment-list .children {
    list-style: none;
}
.comment-list li:before {
    display: none;
}
.comment-author {
    z-index: 2;
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.comments-area .comment-content ul {
    padding-left: 20px;
}
.comments-area .comment-content ol {
    padding-left: 20px;
}
.comment-author .avatar {
    position: relative;
    width: 60px;
    margin-right: 20px;
    float: left;
}
@media (max-width: 991.98px) {
    .comment-author.vcard img {
        margin: 0 auto;
    }
    .comment-author .avatar {
        margin-right: 0;
        float: none;
    }
}
.comment-author.vcard img {
    width: 80px;
    margin-right: 20px;
    border-radius: 50%;
}
.comment-author .says {
    display: none;
}
.comment-metadata {
    color: #8a8a8a;
    font-size: 14px;
    margin-bottom: 10px;
}
@media (max-width: 991.98px) {
    .comment-metadata {
        clear: both;
    }
}
.comment-metadata a {
    letter-spacing: 0.1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8a8a8a;
}
.comments-area .comment-meta b.fn {
    font-weight: 700;
    font-size: 18px;
    color: #07294d;
}
.comments-area .comment-meta b.fn a {
    color: #07294d;
}
.comment-metadata a.comment-edit-link {
    color: #333;
    margin-left: 1em;
}
.comment-body {
    font-size: 16px;
    margin-bottom: 45px;
    clear: both;
    position: relative;
    padding: 30px;
    border: 1px solid #e0e0e0;
    margin-top: 30px;
}
.comment-reply-link {
    color: #07284d;
    display: inline-block;
    float: none;
    font-size: 14px;
    line-height: 1.8;
    padding: 0px 30px 0px;
    border-radius: 2px;
    margin-top: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media (max-width: 991.98px) {
    div#comments {
        padding: 45px 30px;
    }
    .comment-body {
        padding: 22px;
        margin-bottom: 20px;
    }
    .comment-reply-link {
        margin-top: 122px;
    }
    .comment-list, .comment-list .children {
        margin: 0;
    }
    .comment-metadata a.comment-edit-link {
        margin-left: 0;
        display: block
    }
    .post .entry-content {
        padding: 35px 30px 45px;
    }
}
a.comment-reply-link:hover {
    color: #07284d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.comments-area .comment-content p {
    margin-bottom: 0;
}
.comment-reply-link .icon {
    color: #333;
    left: -2em;
    height: 1em;
    position: absolute;
    top: 0;
    width: 1em;
}
.no-comments, .comment-awaiting-moderation {
    color: #8a8a8a;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
}
.comments-pagination {
    margin: 2em 0 3em;
}
#comments #reply-title {
    font-size: 20px;
}
#comments #reply-title>small {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
#comments .reply {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
#comments p.comment-form-author {
    width: 50%;
    padding-right: 15px;
    display: inline-block;
    float: left;
}
#comments p.comment-form-email {
    width: 50%;
    padding-left: 15px;
    display: inline-block;
    float: left;
}
#comments .comment-content {
    padding-left: 100px;
    margin-top: 5px;
}
@media (max-width: 991.98px) {
    #comments p.comment-form-author {
        float: none;
        width: 100%;
        padding-right: 0;
    }
    #comments p.comment-form-email {
        width: 100%;
        padding-left: 0;
        float: none;
    }
    #comments .comment-content {
        padding-left: 0;
    }
    .comment-author.vcard img {
        margin: 0 auto 20px auto;
    }
}
@media (max-width: 767.98px) {
    #comments .comment-content {
        padding-left: 0;
    }
}
#comments .logged-in-as {
    margin-bottom: 15px;
}
#comments .logged-in-as>a:last-child {
    font-weight: 500;
    color: #07294d;
}
#comments .commment_title {
    margin-bottom: 20px;
}
#comments .commment_title h3 {
    font-size: 26px;
}
#comments .commment_title small {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
#comments .comment-form-comment {
    margin-bottom: 25px;
}
#comments ol>li.comment #commentform>.form-submit {
    margin-bottom: 30px;
}
#comments ol>li.comment:last-child>#commentform>.form-submit {
    margin-bottom: 0;
}
#comments .bypostauthor .avatar-name>h5::after {
    content: "\f02e";
    font-family: "Font Awesome 5 Free";
    top: -1px;
    font-size: 12px;
    margin-left: 10px;
    line-height: 1;
    position: relative;
    color: #cacfef;
    font-weight: 900;
}
/*--------------------------------------------------------------
 Media
--------------------------------------------------------------*/

img, video {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */

embed, iframe, object {
    margin-bottom: 1.5em;
    max-width: 100%;
}
/* Remove bottom on embeds that wrapped in paragraphs via wpautop. */

p>embed:only-child, p>iframe:only-child, p>object:only-child {
    margin-bottom: 0;
}
.wp-caption, .gallery-caption {
    color: #666;
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: italic;
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
/* Media Elements */

.mejs-container {
    margin-bottom: 1.5em;
}
/* Audio Player */

.mejs-controls a.mejs-horizontal-volume-slider, .mejs-controls a.mejs-horizontal-volume-slider:focus, .mejs-controls a.mejs-horizontal-volume-slider:hover {
    background: transparent;
    border: 0;
}
.wp-block-embed-soundcloud.wp-block-embed {
    height: 170px;
}
.wp-block-embed-soundcloud.wp-block-embed .wp-block-embed__wrapper {
    height: 170px;
}
.wp-embed-responsive .wp-block-embed-soundcloud.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
    padding-top: 0;
}
/* Playlist Color Overrides: Light */

.site-content .wp-playlist-light {
    border-color: #e0e0e0;
    color: #333;
}
.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-album {
    color: #333;
}
.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-artist {
    color: #8a8a8a;
}
.site-content .wp-playlist-light .wp-playlist-item {
    border-bottom: 1px dotted #e0e0e0;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
.site-content .wp-playlist-light .wp-playlist-item:hover, .site-content .wp-playlist-light .wp-playlist-item:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: #8a8a8a;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-content .wp-playlist-light a.wp-playlist-caption:hover, .site-content .wp-playlist-light .wp-playlist-item:hover a, .site-content .wp-playlist-light .wp-playlist-item:focus a {
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Playlist Color Overrides: Dark */

.site-content .wp-playlist-dark {
    background: #333;
    border-color: #333;
}
.site-content .wp-playlist-dark .mejs-container .mejs-controls {
    background-color: #333;
}
.site-content .wp-playlist-dark .wp-playlist-caption {
    color: #fff;
}
.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-album {
    color: #e0e0e0;
}
.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-artist {
    color: #aaa;
}
.site-content .wp-playlist-dark .wp-playlist-playing {
    background-color: #333;
}
.site-content .wp-playlist-dark .wp-playlist-item {
    border-bottom: 1px dotted #555;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
.site-content .wp-playlist-dark .wp-playlist-item:hover, .site-content .wp-playlist-dark .wp-playlist-item:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: #aaa;
    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-content .wp-playlist-dark a.wp-playlist-caption:hover, .site-content .wp-playlist-dark .wp-playlist-item:hover a, .site-content .wp-playlist-dark .wp-playlist-item:focus a {
    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Playlist Style Overrides */

.site-content .wp-playlist {
    padding: 0.625em 0.625em 0.3125em;
}
.site-content .wp-playlist-current-item .wp-playlist-item-title {
    font-weight: 700;
}
.site-content .wp-playlist-current-item .wp-playlist-item-album {
    font-style: normal;
}
.site-content .wp-playlist-current-item .wp-playlist-item-artist {
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: 800;
    text-transform: uppercase;
}
.site-content .wp-playlist-item {
    padding: 0 0.3125em;
    cursor: pointer;
}
.site-content .wp-playlist-item:last-of-type {
    border-bottom: none;
}
.site-content .wp-playlist-item a {
    padding: 0.3125em 0;
    border-bottom: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-content .wp-playlist-item a, .site-content .wp-playlist-item a:focus, .site-content .wp-playlist-item a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-content .wp-playlist-item-length {
    top: 5px;
}
/* SVG Icons base styles */

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}
/*--------------------------------------------------------------
16.1 Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.6em;
}
.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
}
.gallery-caption {
    display: block;
    line-height: 1.5;
    padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
    display: none;
}
/*--------------------------------------------------------------
Customizer
--------------------------------------------------------------*/

.highlight-front-sections.edubin-customizer.edubin-front-page .edubin-panel:after {
    border: 2px dashed #0085ba;
    bottom: 1em;
    content: "";
    display: block;
    left: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1;
}
.highlight-front-sections.edubin-customizer.edubin-front-page .edubin-panel .panel-content {
    z-index: 2;
}
/* Used for placeholder text */

.edubin-customizer.edubin-front-page .edubin-panel .edubin-panel-title {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 3em;
    text-transform: uppercase;
    text-align: center;
}
/* Show borders on the custom page panels only when the front page sections are being edited */

.highlight-front-sections.edubin-customizer.edubin-front-page .edubin-panel:nth-of-type(1):after {
    border: none;
}
.edubin-front-page.edubin-customizer #primary article.panel-placeholder {
    border: 0;
}
/* Add some space around the visual edit shortcut buttons. */

.edubin-panel>.customize-partial-edit-shortcut>button {
    top: 30px;
    left: 30px;
}
/* Ensure that placeholder icons are visible. */

.edubin-panel .customize-partial-edit-shortcut-hidden:before {
    visibility: visible;
}
/*--------------------------------------------------------------
SVGs Fallbacks
--------------------------------------------------------------*/

.svg-fallback {
    display: none;
}
.no-svg .svg-fallback {
    display: inline-block;
}
.no-svg .dropdown-toggle {
    padding: 0.5em 0 0;
    right: 0;
    text-align: center;
    width: 2em;
}
.no-svg .dropdown-toggle .svg-fallback.icon-angle-down {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    -ms-transform: rotate(180deg);
    /* IE 9 */
    transform: rotate(180deg);
}
.no-svg .dropdown-toggle.toggled-on .svg-fallback.icon-angle-down {
    -webkit-transform: rotate(0);
    /* Chrome, Safari, Opera */
    -ms-transform: rotate(0);
    /* IE 9 */
    transform: rotate(0);
}
.no-svg .dropdown-toggle .svg-fallback.icon-angle-down:before {
    content: "\005E";
}
/* breadcrumb */

.page-header .header-breadcrumb {
    margin-top: 15px;
    position: relative;
}
.breadcrumbs .trail-items, .breadcrumbs .trail-items li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    text-indent: 0;
}
.header-breadcrumb ul li.trail-end {
    color: #fff;
}
.page-header .page-title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
}
.header-breadcrumb a {
    color: #fff;
}
.header-breadcrumb a:hover, .header-breadcrumb a:active, .header-breadcrumb a:focus, .header-breadcrumb a:visited {
    color: #f5f5f5;
}
.header-breadcrumb a:hover:hover, .header-breadcrumb a:active:hover, .header-breadcrumb a:focus:hover, .header-breadcrumb a:visited:hover {
    color: #f5f5f5;
}
.breadcrumbs .trail-items {
    list-style: none;
}
.trail-items li::after {
    content: "\002F";
    padding: 0 0.5em;
    color: #edf0f2;
}
.trail-items li:last-of-type::after {
    display: none;
}
.header-wrapper .header-menu .site-branding {
    float: left;
    padding: 15px 0 0 0;
    display: inline-block;
}
.header-wrapper .header-menu .navigation-section {
    margin: 0;
    float: right;
}
#secondary.widget-area .widget {
    padding: 30px;
    margin-bottom: 30px;
    background: #fff;
}
#secondary.widget-area .widget.widget_media_gallery {
    padding-bottom: 20px;
}
article.post {
    margin-bottom: 45px;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #fff;
}
article.post.sticky {
    border: 1px solid #07294d;
}
.post-thumbnail {
    margin-left: -30px;
    margin-right: -30px;
}
.page .post-thumbnail {
    margin: 0;
    padding-bottom: 45px;
}
.post .sticky-post {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 15px;
    border-radius: 2px;
}
.page-header {
    margin-top: 84px;
/*    background: url(../images/header.jpg) no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 290px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px 0;
    width: 100%;
}
.is-header-top-main .page-header {
    margin-top: 130px;
}
.site-content.page-header-disable {
    margin-top: 84px;
}
.is-header-top-main .site-content.page-header-disable {
    margin-top: 130px;
}
.page-header:before {
    background-color: #07294d;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.9;
    filter: alpha(opacity=50);
}
.is-header-sticky {
    background-color: #fff;
    width: 100%;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
}
.is-header-sticky.sticky-active {
    -webkit-box-shadow: 0 3px 6px rgba(128, 128, 128, 0.1);
    box-shadow: 0 3px 6px rgba(128, 128, 128, 0.1);
}
.transparent-active .page-header {
    min-height: 350px;
}
@media only screen and (max-width:576px) {
    .page-header {
        min-height: 210px;
        padding: 30px 0;
    }
    .page-header .page-title {
        font-size: 40px;
    }
    .page-header .header-breadcrumb {
        margin-top: 5px;
    }
}
.post-navigation .previous-label, .post-navigation .next-label {
    display: none;
}
.post-navigation .nav-links .nav-next .fa {
    margin-right: 0;
    margin-left: 10px;
}
.navigation .nav-links .nav-title:hover {
    color: #ffc600;
}
.page-links a, .nav-links a {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background: #07294d;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    line-height: 33px;
    border: 2px solid #07294d;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.page-links a {
    line-height: 37px;
}
.page-links a:hover, .nav-links a:hover {
    color: #07294d;
    background: #ffc600;
    border: 2px solid #ffc600;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.nav-links span {
    border: 1px solid #e0e0e0;
}
.page-links .post-page-numbers.current, .nav-links .page-numbers.current {
    font-size: 15px;
    font-weight: 600;
    color: #07294d;
    width: 40px;
    height: 40px;
    line-height: 33px;
    border: 2px solid #ffc600;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    background: #ffc600;
    display: inline-block;
}
.page-links .post-page-numbers.current {
    line-height: 37px;
}
.page-links .post-page-numbers.current:hover, .nav-links .page-numbers.current:hover {
    background: #07294d;
    color: #fff;
    border: 2px solid #07294d;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.nav-links .page-numbers.dots {
    font-weight: 600;
    color: #07294d;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 33px;
    border: 2px solid #dee2e6;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.site-content .pagination {
    display: block;
    margin: auto;
    width: 100%;
}
.site-content .pagination .nav-links .next.page-numbers, .site-content .pagination .nav-links .prev.page-numbers {
    float: none;
}
.site-footer .site-info p {
    margin: 0;
    display: inline-block;
}
.header-menu .main-navigation>li:last-child a {
    padding-right: 0;
}
.post .entry-title a:hover, .post .entry-title a:focus, .post .entry-title a:active {
    color: #ffc600;
}
.post .entry-meta li {
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8a8a8a;
    margin-right: 20px;
    word-break: break-word;
}
@media (max-width:576px) {
    .post .entry-meta li {
        background: #f5f5f5;
        margin-bottom: 8px;
        padding: 7px 10px;
    }
}
.post .entry-meta .fa-circle {
    font-size: 10px;
}
.post .entry-meta ul.post-categories {
    display: inline-block;
    margin-left: 0;
}
.post .entry-meta ul.post-categories li {
    display: inline-block;
}
.entry-meta li.post-views span {
    color: #8a8a8a;
}
.entry-meta li.post-views.list-inline-item {
    margin-right: 0;
}
.post .entry-content .more-link {
    color: #07294d;
    font-size: 15px;
    font-weight: 500;
}
.post .entry-content .more-link:hover {
    color: #fff;
}
body label {
    display: block;
    margin-bottom: 0;
}
form.search-form button {
    font-size: 15px;
    height: 44px;
    width: 55px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
}
.search-form .fa-search {
    margin-right: 0;
}
body .not-found .search-form .search-submit, .wrong-search-wrapper .search-form .search-submit {
    display: inline-block;
    position: relative;
    right: 5px;
}
body .not-found .search-form label, .wrong-search-wrapper .search-form label {
    display: inline-block;
}
.type-page .entry-content {
    border-top: 0;
}
.type-page .entry-content h2 {
    margin: 0;
    padding-bottom: 20px;
}
.type-attachment .entry-meta i {
    font-size: 12px;
}
.comment-form-comment label {
    padding-bottom: 15px;
}
.page .comments-area {
    margin-top: 20px;
}
body .container {
    max-width: 100%;
    width: 1170px;
}
.site-content {
    padding: 100px 0;
    clear: both;
}
.post-password-form input {
    margin-top: 10px;
}
@media screen and (max-width:1024px) {
    .mobile-menu {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        display: none;
        background: #fff;
        padding: 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    .main-navigation {
        display: none;
    }
    .site-branding {
        width: 50%;
        float: left;
    }
    .header-wrapper .header-menu .site-branding {
        padding-top: 0;
    }
    .header-right-icon.pull-right {
        float: right;
    }
    .mobile-menu>ul li {
        position: relative;
        line-height: 40px;
    }
    .zmm-dropdown-toggle {
        position: absolute;
        right: 0;
        padding: 4px;
        top: 0;
    }
    .header-menu .mobile-menu-wrapper {
        float: right;
    }
    .header-menu .mobile-menu-icon i {
        font-size: 30px;
        line-height: 80px;
        height: 80px;
        vertical-align: middle;
        color: #07294d;
    }
    .header-wrapper .header-menu .navigation-section {
        margin: 0;
    }
    .site-header .header-top {
        display: none;
    }
    .header-wrapper .header-menu .site-branding {
        margin: 20px 0px;
    }
}
@media screen and (min-width:1025px) {
    .header-menu .mobile-menu-wrapper {
        display: none;
    }
    .site-header .header-top p {
        display: inline-block;
        margin-bottom: 0;
    }
    .main-navigation .main-menu>li:last-child a {
        padding-right: 0;
    }
}
.is-header-sticky-main .page-header {
    margin-top: 0;
}
.is-header-sticky-main .site-content.page-header-disable {
    margin-top: 0;
}
/* Search page */

.search article {
    margin-bottom: 30px;
    height: auto;
    position: relative;
    background: #fff;
}
.search .entry-meta li {
    font-size: 15px;
    letter-spacing: 0.1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8a8a8a;
    margin-right: 20px;
}
/* 404 not found page */

.error-404 .site-content {
    padding: 200px 0;
}
.error-404 .error-404-heading {
    font-size: 60px;
    margin-bottom: 10px;
    color: #07294d;
}
.error-404 .error-404-heading span {
    color: #ffc600;
}
.error-404 .error-404-img {
    margin: 30px auto;
}
.error-404 .text-404 {
    font-size: 20px;
    margin-bottom: 10px
}
.error-404 a {
    font-size: 20px;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.error-404 a:hover {
    color: #ffc600;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.error-404 .go-home {
    margin-bottom: 30px;
}
/* Back to top */

.back-to-top {
    background-color: #ffc600;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    color: #07294d;
    border-radius: 50%;
    opacity: 0.95;
    z-index: 10
}
.back-to-top:hover {
    opacity: 1;
}
.back-to-top>i {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #07294d;
}
/*=== quick info */

.edubin-quickinfo {
    color: #edf0f2;
}
.edubin-quickinfo .qicon i {
    margin-right: 10px;
}
/*===== Preloader Style =====*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}
.preloader .color-1 {
    background-color: #ffc600 !important;
}
.rubix-cube {
    border: 1px solid #FFF;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.rubix-cube .layer {
    width: 14px;
    height: 14px;
    background-color: #07294d;
    border: 1px solid #FFF;
    position: absolute;
}
.rubix-cube .layer-1 {
    left: 0px;
    top: 0px;
    -webkit-animation: rubixcube4 2s infinite linear;
    animation: rubixcube4 2s infinite linear;
}
.rubix-cube .layer-2 {
    left: 16px;
    top: 0px;
    -webkit-animation: rubixcube3 2s infinite linear;
    animation: rubixcube3 2s infinite linear;
}
.rubix-cube .layer-3 {
    left: 32px;
    top: 0px;
}
.rubix-cube .layer-4 {
    left: 0px;
    top: 16px;
    -webkit-animation: rubixcube5 2s infinite linear;
    animation: rubixcube5 2s infinite linear;
}
.rubix-cube .layer-5 {
    left: 16px;
    top: 16px;
    -webkit-animation: rubixcube2 2s infinite linear;
    animation: rubixcube2 2s infinite linear;
}
.rubix-cube .layer-6 {
    left: 32px;
    top: 16px;
    -webkit-animation: rubixcube1 2s infinite linear;
    animation: rubixcube1 2s infinite linear;
}
.rubix-cube .layer-7 {
    left: 0px;
    top: 32px;
    -webkit-animation: rubixcube6 2s infinite linear;
    animation: rubixcube6 2s infinite linear;
}
.rubix-cube .layer-8 {
    left: 16px;
    top: 32px;
    -webkit-animation: rubixcube7 2s infinite linear;
    animation: rubixcube7 2s infinite linear;
}
@-webkit-keyframes rubixcube1 {
    20% {
        top: 16px;
        left: 32px;
    }
    30% {
        top: 32px;
        left: 32px;
    }
    40% {
        top: 32px;
        left: 32px;
    }
    50% {
        top: 32px;
        left: 32px;
    }
    60% {
        top: 32px;
        left: 32px;
    }
    70% {
        top: 32px;
        left: 32px;
    }
    80% {
        top: 32px;
        left: 32px;
    }
    90% {
        top: 32px;
        left: 32px;
    }
    100% {
        top: 32px;
        left: 16px;
    }
}
@keyframes rubixcube1 {
    20% {
        top: 16px;
        left: 32px;
    }
    30% {
        top: 32px;
        left: 32px;
    }
    40% {
        top: 32px;
        left: 32px;
    }
    50% {
        top: 32px;
        left: 32px;
    }
    60% {
        top: 32px;
        left: 32px;
    }
    70% {
        top: 32px;
        left: 32px;
    }
    80% {
        top: 32px;
        left: 32px;
    }
    90% {
        top: 32px;
        left: 32px;
    }
    100% {
        top: 32px;
        left: 16px;
    }
}
@-webkit-keyframes rubixcube2 {
    30% {
        left: 16px;
    }
    40% {
        left: 32px;
    }
    50% {
        left: 32px;
    }
    60% {
        left: 32px;
    }
    70% {
        left: 32px;
    }
    80% {
        left: 32px;
    }
    90% {
        left: 32px;
    }
    100% {
        left: 32px;
    }
}
@keyframes rubixcube2 {
    30% {
        left: 16px;
    }
    40% {
        left: 32px;
    }
    50% {
        left: 32px;
    }
    60% {
        left: 32px;
    }
    70% {
        left: 32px;
    }
    80% {
        left: 32px;
    }
    90% {
        left: 32px;
    }
    100% {
        left: 32px;
    }
}
@-webkit-keyframes rubixcube3 {
    30% {
        top: 0px;
    }
    40% {
        top: 0px;
    }
    50% {
        top: 16px;
    }
    60% {
        top: 16px;
    }
    70% {
        top: 16px;
    }
    80% {
        top: 16px;
    }
    90% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}
@keyframes rubixcube3 {
    30% {
        top: 0px;
    }
    40% {
        top: 0px;
    }
    50% {
        top: 16px;
    }
    60% {
        top: 16px;
    }
    70% {
        top: 16px;
    }
    80% {
        top: 16px;
    }
    90% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}
@-webkit-keyframes rubixcube4 {
    50% {
        left: 0px;
    }
    60% {
        left: 16px;
    }
    70% {
        left: 16px;
    }
    80% {
        left: 16px;
    }
    90% {
        left: 16px;
    }
    100% {
        left: 16px;
    }
}
@keyframes rubixcube4 {
    50% {
        left: 0px;
    }
    60% {
        left: 16px;
    }
    70% {
        left: 16px;
    }
    80% {
        left: 16px;
    }
    90% {
        left: 16px;
    }
    100% {
        left: 16px;
    }
}
@-webkit-keyframes rubixcube5 {
    60% {
        top: 16px;
    }
    70% {
        top: 0px;
    }
    80% {
        top: 0px;
    }
    90% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}
@keyframes rubixcube5 {
    60% {
        top: 16px;
    }
    70% {
        top: 0px;
    }
    80% {
        top: 0px;
    }
    90% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}
@-webkit-keyframes rubixcube6 {
    70% {
        top: 32px;
    }
    80% {
        top: 16px;
    }
    90% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}
@keyframes rubixcube6 {
    70% {
        top: 32px;
    }
    80% {
        top: 16px;
    }
    90% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}
@-webkit-keyframes rubixcube7 {
    80% {
        left: 16px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}
@keyframes rubixcube7 {
    80% {
        left: 16px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}
/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/

.main-navigation {
    clear: both;
    width: auto;
}
@media only screen and (max-width:768px) {
    .main-navigation {
        display: none;
    }
    .header-right-icon.pull-right {
        float: right;
    }
}
@media only screen and (max-width:576px) {
    .header-right-icon.pull-right {
        padding-right: inherit;
    }
}
.main-navigation a {
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 29px 10px 29px 10px;
    color: #07294d;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
}
.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0 1.5em;
    text-align: left;
    padding: 0;
}
.main-navigation li {
    position: relative;
    display: inline-block;
}
.js .main-navigation.toggled-on>div>ul {
    display: block;
}
.main-navigation ul ul {
    padding: 0;
    background: #07294d;
    left: -999em;
    position: absolute;
    top: 100%;
    z-index: 99;
}
.main-navigation ul ul.toggled-on {
    display: block;
}
.main-navigation ul ul a {
    position: relative;
    text-transform: none;
    padding: 7px 20px;
    width: 14em;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: block;
}
.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}
.main-navigation ul ul li:last-child {
    border-bottom: none;
}
.main-navigation ul ul a:hover {
    color: #ffc600;
    padding-left: 35px;
    border-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.main-navigation ul ul a::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 10px;
    background: #ffc600;
    z-index: 9;
    border-radius: unset;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.main-navigation ul ul a:hover::before {
    opacity: 1;
    left: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.main-navigation ul li:hover>ul, .main-navigation ul li.focus>ul {
    left: 0.5em;
    right: auto;
    -moz-animation: fadeInUpMenu 0.3s ease-in;
    -webkit-animation: fadeInUpMenu 0.3s ease-in;
    animation: fadeInUpMenu 0.3s ease-in;
}
.main-navigation ul .sub-menu {
    padding: 10px 0 10px;
}
.main-navigation ul>li ul li:hover>ul {
    left: auto;
    right: 100%;
    top: 10px;
}
/*This will change the active main menu item colour*/

.main-navigation li.current-menu-item>a {
    color: #ffc600;
}
/*This will change the active main menu item colour when a submenu item is active*/

.main-navigation li.current-menu-ancestor>a {
    color: #ffc600;
}
/*This will change the active submenu item colour*/

.main-navigation li ul .current-menu-item a {
    color: #ffc600;
}
.site-header .site-navigation-fixed .menu-scroll-down {
    display: none;
}
@-webkit-keyframes fadeInUpMenu {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translate3d(0, 3%, 0);
        transform: translate3d(0, 3%, 0);
    }
    80% {
        opacity: 0.8;
        -webkit-transform: translate3d(0, 1%, 0);
        transform: translate3d(0, 1%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUpMenu {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
    40% {
        opacity: 0.4;
        -webkit-transform: translate3d(0, 3%, 0);
        transform: translate3d(0, 3%, 0);
    }
    80% {
        opacity: 0.8;
        -webkit-transform: translate3d(0, 1%, 0);
        transform: translate3d(0, 1%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
}
.header-menu.header-bg {
    background-color: #ffc600;
}
.header-menu.header-bg .mobile-menu-icon i {
    color: #fff;
}
.header-menu.header-bg .site-title, .header-menu.header-bg .site-title a {
    color: #fff;
}
.header-menu.header-bg .site-description {
    color: #fff;
}
.header-menu.header-bg .main-navigation a {
    color: #fff;
}
.header-menu.header-bg .main-navigation ul ul a {
    color: #333;
}
.header-menu.header-bg .main-navigation ul ul a:hover {
    color: #fff;
}
.header-menu.header-bg .main-navigation li.current-menu-item>a {
    color: #333;
}
.header-menu.header-bg .main-navigation li.current-menu-ancestor>a {
    color: #333;
}
.header-menu.header-bg .main-navigation li ul .current-menu-item a {
    color: #ffc600;
}
.header-menu.header-bg .main-navigation ul ul a:hover {
    color: #fff;
}
.home .header-menu.home-header-bg {
    background-color: #ffc600;
}
.home .header-menu.home-header-bg .mobile-menu-icon i {
    color: #fff;
}
.home .header-menu.home-header-bg .site-title, .home .header-menu.home-header-bg .site-title a {
    color: #fff;
}
.home .header-menu.home-header-bg .site-description {
    color: #fff;
}
.home .header-menu.home-header-bg .main-navigation a {
    color: #fff;
}
.home .header-menu.home-header-bg .main-navigation ul ul a {
    color: #333;
}
.home .header-menu.home-header-bg .main-navigation ul ul a:hover {
    color: #fff;
}
.home .header-menu.home-header-bg .main-navigation li.current-menu-item>a {
    color: #333;
}
.home .header-menu.home-header-bg .main-navigation li.current-menu-ancestor>a {
    color: #333;
}
.home .header-menu.home-header-bg .main-navigation li ul .current-menu-item a {
    color: #ffc600;
}
.home .header-menu.home-header-bg .main-navigation ul ul a:hover {
    color: #fff;
}
.main-navigation li ul .current-menu-item a:hover {
    color: #fff;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.admin-bar .is-header-sticky {
    top: 32px;
}
@media (max-width:575px) {
    .admin-bar .is-header-sticky {
        top: 46px;
    }
    .admin-bar .is-header-sticky.sticky-active {
        top: 0;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .admin-bar .is-header-sticky {
        top: 46px;
    }
    .admin-bar .is-header-sticky.sticky-active {
        top: 46px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .admin-bar .is-header-sticky {
        top: 46px;
    }
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* Header v2 */

.menu-effect-2 .main-navigation ul ul {
    background: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.07);
    border-top: 3px solid #ffc600;
}
.menu-effect-2 .main-navigation ul ul a {
    color: #7b7b7b;
}

.menu-effect-2 .main-navigation li.current-menu-item>a {
    color: #ffc600;
}
.menu-effect-2 .main-navigation li.current-menu-ancestor>a {
    color: #ffc600;
}
.menu-effect-2 .main-navigation li ul .current-menu-item a {
    color: #ffc600;
}
.menu-effect-2 .main-navigation ul ul a:hover {
    color: #808080;
}
.main-navigation .current-menu-item.menu-item-home>a{
    color: #07294d;
}
.menu-effect-2 .main-navigation .current-menu-item.menu-item-home>a{
    color: #07294d;
}
/*===== All Button Style =====*/

.edubin-main-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #07294d;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
.edubin-main-btn a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: block;
    line-height: 1;
    padding: 18px 38px;
}
.edubin-main-btn:hover {
    color: #07294d;
    border-color: #ffc600;
    background-color: #ffc600;
    text-decoration: none;
}
.edubin-main-btn:hover a {
    color: #07294d;
    text-decoration: none;
}
.edubin-main-btn-2 {
    color: #ffc600;
    border-color: #07294d;
    background-color: #07294d;
}
.edubin-main-btn-2:hover {
    color: #fff;
    background-color: #ffc600;
    border-color: #ffc600;
}
.blog-btn.edubin-main-btn {
    margin-top: 15px;
}
.blog {
    background: #edf0f2;
}
/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

.elementor-page .site-content {
    padding: 0;
}
.edubin-accordion .elementor-accordion .elementor-accordion-item {
    margin-bottom: 20px;
}
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}
/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .edubin-entry-footer:before, .edubin-entry-footer:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after, .nav-links:before, .nav-links:after, .pagination:before, .pagination:after, .comment-author:before, .comment-author:after, .widget-area:before, .widget-area:after, .widget:before, .widget:after, .comment-meta:before, .comment-meta:after {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear:after, .entry-content:after, .edubin-entry-footer:after, .site-header:after, .site-content:after, .site-footer:after, .nav-links:after, .pagination:after, .widget-area:after, .widget:after {
    clear: both;
}
.form-submit {
    margin-bottom: 0;
}
/*--------------------------------------------------------------
15.0 Widgets
--------------------------------------------------------------*/

#secondary {
    padding: 0;
}
.sfwd-courses-template-default #secondary.widget-area .widget {
    border: none;
}
.widget a {
    color: #07294d;
}
.widget .widget-title {
    color: #07294d;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 36px;
    position: relative;
}
.widget .widget-title:before {
    position: absolute;
    width: 42px;
    background: #ffc600;
    content: "";
    height: 3px;
    bottom: -15px
}
.edubin-related-course.ld-related-course .widget-title {
    color: #07294d;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 36px;
    position: relative;
}
.edubin-related-course.ld-related-course .widget-title:before {
    position: absolute;
    width: 42px;
    background: #ffc600;
    content: "";
    height: 3px;
    bottom: -15px
}
.site-footer .widget .widget-title:before {
    display: none;
}
.widget .widget-title a {
    color: inherit;
}
/* widget forms */

.widget select {
    width: 100%;
}
.widget ul {
    list-style: none;
    margin: 0;
}
.widget ul li {
    border-top: 1px solid #e0e0e0;
    padding: 15px 0;
}
.widget>ul>li:first-child {
    border-top: none;
    padding-top: 0;
}
.widget ul li ul {
    padding: 0;
    position: relative;
}
/* Widget lists of links */

.widget_top-posts ul li ul, .widget_rss_links ul li ul, .widget-grofile ul.grofile-links li ul, .widget_pages ul li ul, .widget_meta ul li ul {
    bottom: 0;
}
/* Widget markup */

.widget .post-date, .widget .rss-date {
    font-size: 0.81em;
}
/* Text widget */

.widget_text {
    word-wrap: break-word;
}
.widget_text ul {
    list-style: disc;
    margin: 0 0 1.5em 1.5em;
}
.widget_text ol {
    list-style: decimal;
}
.widget_text ul li, .widget_text ol li {
    border: none;
    list-style-type: none;
}
.widget_text ul li:last-child, .widget_text ol li:last-child {
    padding-bottom: 0;
}
.widget_text ul li ul {
    margin: 0 0 0 1.5em;
}
.widget_text ul li li {
    padding-left: 0;
    padding-right: 0;
}
.widget_text ol li {
    list-style-position: inside;
}
.widget_text ol li+li {
    margin-top: -1px;
}
/* RSS Widget */

.widget_rss .widget-title .rsswidget:first-child {
    float: right;
}
.widget_rss .widget-title .rsswidget:first-child:hover {
    background-color: transparent;
}
.widget_rss .widget-title .rsswidget:first-child img {
    display: block;
}
.widget_rss ul li {
    padding: 1em 0;
}
.widget_rss ul li:first-child {
    border-top: none;
    padding-top: 0;
}
.widget_rss li .rsswidget {
    font-size: 22px;
    font-size: 20px;
    font-weight: 700;
}
.widget_rss .rss-date, .widget_rss li cite {
    color: #8a8a8a;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}
.widget_rss .rss-date {
    margin: 0.5em 0 1.5em;
    padding: 0;
}
.widget_rss .rssSummary {
    margin-bottom: 0.5em;
}
/* Contact Info Widget */

.widget_contact_info .contact-map {
    margin-bottom: 0.5em;
}
/* Gravatar */

.widget-grofile h4 {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 0;
}
/* Recent Comments */

.widget_recent_comments table, .widget_recent_comments th, .widget_recent_comments td {
    border: 0;
}
/* Recent Posts widget */

.widget_recent_entries .post-date {
    display: block;
}
/* Search */

.search-form {
    position: relative;
}
.search-form .search-submit .icon {
    height: 24px;
    top: -2px;
    width: 24px;
}
.widget input[type="search"].search-field {
    padding: 0.54em 0 0.54em 10px;
}
/* Tag cloud widget */

.tagcloud ul li {
    float: left;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
    margin: 5px 5px 0 0;
}
.tagcloud, .widget_tag_cloud, .wp_widget_tag_cloud {
    line-height: 1.5;
}
.widget .tagcloud a, .widget.widget_tag_cloud a, .wp_widget_tag_cloud a {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    padding: 6px 10px 6px;
    position: relative;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    width: auto;
    border-radius: 3px;
    word-wrap: break-word;
    z-index: 0;
    font-size: 15px !important;
}
.widget .tag-cloud-link {
    border: none;
    background: #edf0f2;
    color: #07294d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.widget .tagcloud a:hover {
    background: #ffc600;
    color: #08294d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.widget .tagcloud a:hover, .widget .tagcloud a:focus, .widget.widget_tag_cloud a:hover, .widget.widget_tag_cloud a:focus, .wp_widget_tag_cloud a:hover, .wp_widget_tag_cloud a:focus {
    border-color: #ffc600;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Calendar widget */

#wp-calendar caption {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}
#wp-calendar {
    font-size: 14px;
}
#wp-calendar {
    border: 0px solid #e0e0e0;
    margin-bottom: 20px;
    overflow: auto;
    vertical-align: top;
    width: 100%;
    margin: 0;
}
table#wp-calendar td {
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    text-align: center;
    vertical-align: top;
    font-size: 15px;
}
#wp-calendar th, #wp-calendar td {
    padding: 8px;
}
table#wp-calendar th {
    border: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
table#wp-calendar td#today {
    color: #fff;
    background-color: #07294d;
}
table#wp-calendar td#today a {
    color: #fff;
}
/* Gallery widget */

.gallery-columns-5 .gallery-caption, .gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
    display: none;
}
.comment-author-link {
    color: #07294d;
    font-weight: 700;
}
.widget-area>div:last-child {
    margin-bottom: 0px;
}
.widget-area h2 {
    margin-bottom: 10px;
}
.widget-area .content {
    padding: 0;
}
.widget-area .push-bottom-large {
    margin-bottom: 0;
}
.widget-area>div:last-child {
    margin-bottom: 0px;
}
.widget-area>aside:last-child {
    margin-bottom: 0px !important;
}
.widget-area .sub-menu li a:hover, .widget-area .nav .children li a:hover {
    background: transparent;
}
/* widget list */

.widget-area .widget ul {
    list-style: none;
}
.widget-area .widget ul li {
    position: relative;
}
.widget-area .widget ul ul {
    padding-left: 10px;
    margin-top: 10px;
}
.widget-area .widget ul li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0;
}
.widget-area .widget ul.children {
    margin-top: 10px;
    padding-left: 10px;
}
.widget-area button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.widget-area select {
    color: #6f6f6f;
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.site-footer .widget .widget-title {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 25px;
}
.site-footer .widget p {
    font-size: 16px;
    line-height: 24px;
    color: #edf0f2;
}
.site-footer .widget ul li a {
    color: #edf0f2;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-footer .widget ul li a:hover {
    color: #ffc600;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-footer .two-column-menu.widget ul.menu li {
    padding: 4px 0 4px 12px;
    list-style: none;
    color: #edf0f2;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-footer .widget ul.menu li {
    padding: 4px 0 4px 12px;
    list-style: none;
    color: #edf0f2;
    vertical-align: top;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-footer .widget ul.menu li:before {
    color: #ffc600;
    content: "\f105";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 4px;
}
.site-footer .widget.widget_nav_menu ul li a:hover {
    margin-left: 5px;
    color: #ffc600;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-footer .widget_rss .rss-date, .site-footer .widget_rss li cite {
    color: #fff;
}
.site-footer .comment-author-link {
    color: #fff;
}
.edubin-entry-footer {
    padding-top: 20px;
    clear: both;
}
.edubin-entry-footer .cat-links, .edubin-entry-footer .tags-links {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
    color: #07294d;
}
.edubin-entry-footer .cat-links+.tags-links {
    margin-top: 1em;
}
.edubin-entry-footer .cat-links a, .edubin-entry-footer .tags-links a {
    color: #8a8a8a;
}
.edubin-entry-footer .cat-links a:hover, .edubin-entry-footer .tags-links a:hover {
    color: #ffc600;
}
.edubin-entry-footer .cat-tags-links a {
    border: 2px solid #e0e0e0;
    padding: 4px 24px;
    margin-right: 5px;
    transition: all 0.5s ease;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8a8a8a;
    display: inline-block;
}
.site-footer .widget .tagcloud ul li a {
    color: #07294d;
}
.edubin-entry-footer .cat-tags-links a:hover {
    border-color: #07294d;
    background: #07294d;
    color: #fff;
    transition: all 0.5s ease;
}
.edubin-entry-footer .cat-links .icon, .edubin-entry-footer .tags-links .icon {
    color: #8a8a8a;
    left: 0;
    margin-right: 0.5em;
    position: absolute;
    top: 2px;
}
.edubin-entry-footer .edit-link {
    display: inline-block;
    float: right;
}
.edubin-entry-footer .edit-link a.post-edit-link {
    background-color: #07294d;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 20px;
}
.type-page .edubin-entry-footer .edit-link a.post-edit-link {
    margin-left: 0;
}
.edubin-entry-footer .edit-link a.post-edit-link:hover, .edubin-entry-footer .edit-link a.post-edit-link:focus {
    background-color: #ffc600;
    color: #07294d;
}
.type-page .edubin-entry-footer {
    padding: 0;
}
.type-page .edubin-entry-footer .edit-link {
    float: left;
    padding-top: 20px;
}
.site-footer .widget.widget_media_image img {
    margin: 0;
}
.site-footer .widget a {
    color: #edf0f2;
}
.site-footer .widget .edubin-social a {
    color: #edf0f2;
}
.site-footer .widget .edubin-social a:hover {
    color: #ffc600;
}
.site-footer .widget button, .site-footer .widget input[type="button"], .site-footer .widget input[type="submit"] {
    background-color: #ffc600;
    color: #07294d;
}
.site-footer .footer-top {
    border-top: 1px solid #e0e0e0;
    background-color: #07294d;
}
.site-footer .footer-bottom {
    padding-top: 25px;
    background-color: #021d3a;
    padding-bottom: 25px;
}
.site-footer .footer-top .footer-wrap {
    padding: 70px 0px 60px 0px;
}
.site-footer .widget {
    margin-bottom: 30px;
}
.site-footer .widget:last-child {
    margin-bottom: 0;
}
.page .edubin-entry-footer {
    margin: 0;
    border: 0;
}
@media screen and (max-width:767px) {
    #secondary.widget-area {
        margin-top: 50px;
    }
    .entry-header .entry-meta li {
        display: block;
        line-height: 2;
        margin-right: 0;
    }
    .site-footer .footer-top .footer-column {
        margin-bottom: 30px;
    }
    .site-footer .footer-top .footer-wrap>*:last-child .footer-column {
        margin-bottom: 0;
    }
}
.site-footer .widget ul li {
    color: #edf0f2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    position: relative;
    border-top: none;
    border-bottom: none;
}
.site-footer .widget ul li:before {
    color: #ffc600;
    content: "\f105";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 4px;
}
.site-footer .widget ul>li>ul>li {
    padding-bottom: 0;
}
.site-footer .widget ul.wp-tag-cloud li:before {
    display: none;
}
.site-footer .widget ul.wp-tag-cloud li:hover a {
    color: #07294d;
}
.site-footer .widget ul.wp-tag-cloud li {
    padding: 0;
}
/*Footer calendar */

.site-footer .widget table#wp-calendar th {
    color: #fff;
}
.site-footer .widget table#wp-calendar td {
    color: #fff;
}
.site-footer .widget table#wp-calendar td a:hover {
    color: #ffc600;
}
.site-footer .widget #wp-calendar caption {
    color: #fff;
}
.site-footer .widget table#wp-calendar td {
    font-size: 14px;
}
.site-footer .widget table#wp-calendar th {
    font-size: 13px;
}
.site-footer .widget #wp-calendar thead th {
    padding: 0.25rem;
}
.site-footer .widget #wp-calendar tbody td {
    padding: 0.125rem;
}
.site-footer .widget img.footer-logo {
    width: 180px;
}


/*--------------------------------------------------------------
# WooCommerce
// --------------------------------------------------------------*/
@media (max-width:575px) {
    .edubin-hidden-sx {
        display: none;
    }

}

@media (min-width:576px) and (max-width:767px) {
    .edubin-hidden-sx {
        display: none;
    }

}

@media (min-width:576px) and (max-width:767px) {
    .edubin-hidden-sm {
        display: none;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .edubin-hidden-md {
        display: none;
    }

}

@media (min-width:992px) and (max-width:1199px) {
    .edubin-hidden-lg {
        display: none;
    }

}

.page-loader {
    background: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.page-loader .image-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
}

/*--------------------------------------------------------------
Author box
--------------------------------------------------------------*/
.edubin-author-box {
    position: absolute;
    bottom: -92px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}

.edubin-author-box a {
    color: #07294d;
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 38px;
    width: 30px;
    margin: 5px;
}

.edubin-author-box i {
    margin: 0;
}

/*Temp*/
.learn-press-notice.notice-warning.notice {
    display: none;
}
