/*--------------------------------------------------------------
Ultimate Member plugin
--------------------------------------------------------------*/
.page .um-form {
    padding: 50px;
    background: #fff;
}

.page .um input[type=submit].um-button, .page .um input[type=submit].um-button:focus, .page .um a.um-button, .page .um a.um-button.um-disabled:hover, .page .um a.um-button.um-disabled:focus, .page .um a.um-button.um-disabled:active {
    background-color: #ffc600;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    color: #07294d;
    box-shadow: none;
    padding: 18px !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page .um input[type=submit].um-button:hover, .page .um a.um-button:hover {
    background-color: #07294d;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page .um-right.um-half .um-button {
    background-color: #07294d;
    color: #fff;
}

.page .um-right.um-half .um-button:hover {
    background-color: #ffc600;
    color: #07294d;
}

.page .um .um-form input[type=text], .page .um .um-form input[type=tel], .page .um .um-form input[type=number], .page .um .um-form input[type=password], .page .um .um-form textarea, .page .um .upload-progress, .page .select2-container .select2-choice, .page .select2-drop, .page .select2-container-multi .page .select2-choices, .page .select2-drop-active, .page .select2-drop.select2-drop-above {
    border: 1px solid #ddd !important;
    height: 45px !important;
}

.page .um .um-form input[type=text]:focus, .page .um .um-form input[type=tel]:focus, .page .um .um-form input[type=number]:focus, .page .um .um-form input[type=password]:focus, .page .um .um-form .um-datepicker.picker__input.picker__input--active, .page .um .um-form .um-datepicker.picker__input.picker__input--target, .page .um .um-form textarea:focus {
    border: 1px solid #07294d !important;
}

.page .um-item {
    display: inline-block;
    max-width: 315px;
    margin: 15px;
}

.page .um-962.um .um-profile-body {
    max-width: 100%
}

.page .um-962.um {
    max-width: 100%;
}

.page .um-profile-nav {
    background: #07294d;
}

.page .um .um-profile-nav-item.active a {
    background: #ffc600;
    color: #07294d !important;
}

.page .um .um-profile-nav-item.active a:hover, .page .um-profile-nav-item a:hover {
    background: #ffc600;
}
