
/*--------------------------------------------------------------
 Wp Forms 
--------------------------------------------------------------*/

.edubin-from1 div.wpforms-container-full .wpforms-form input[type=date], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=datetime], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=datetime-local], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=email], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=month], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=number], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=password], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=range], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=search], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=tel], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=text], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=time], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=url], .edubin-from1 div.wpforms-container-full .wpforms-form input[type=week], .edubin-from1 div.wpforms-container-full .wpforms-form select, .edubin-from1 div.wpforms-container-full .wpforms-form textarea {
    background-color: transparent;
    font-size: 15px;
    padding: 24px 15px;
    border: 1px solid #e0e0e0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.edubin-from1 div.wpforms-container-full .wpforms-form input[type=date]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=datetime]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=datetime-local]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=email]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=month]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=number]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=password]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=range]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=search]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=tel]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=text]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=time]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=url]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form input[type=week]:focus, .edubin-from1 div.wpforms-container-full .wpforms-form select:focus, .edubin-from1 div.wpforms-container-full .wpforms-form textarea:focus {
    border-color: #07294d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

div.wpforms-container-full .wpforms-form input:focus, div.wpforms-container-full .wpforms-form textarea:focus, div.wpforms-container-full .wpforms-form select:focus {
    border-color: #07294d !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.edubin-from1 div.wpforms-container-full .wpforms-form textarea.wpforms-field-large {
    height: 120px;
}

.edubin-from1 div.wpforms-container-full .wpforms-form .wpforms-field {
    padding: 15px 0;
}

.edubin-from1 div.wpforms-container-full .wpforms-form input[type=submit], .edubin-from1 div.wpforms-container-full .wpforms-form button[type=submit], .edubin-from1 div.wpforms-container-full .wpforms-form .wpforms-page-button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-left: 0;
    margin-top: 15px;
    background-color: #ffc600;
    color: #07294d;
    padding: 15px 35px;
    font-weight: 700;
    border: 1px solid #ffc600;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.edubin-from1 div.wpforms-container-full .wpforms-form input[type=submit]:hover, .edubin-from1 div.wpforms-container-full .wpforms-form button[type=submit]:hover, .edubin-from1 div.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
    background-color: #07294d;
    color: #fff;
    border: 1px solid #07294d;
    -webkit-transition: all 0.55s ease;
    -o-transition: all 0.55s ease;
    transition: all 0.55s ease;
    text-decoration: none;
}

.edubin-from1 div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error, .edubin-from1 div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error, .edubin-from1 div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error {
    border-color: #e0e0e0;
}
